<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.rsb.service.RsbMapper">
	
	<select id="selectMaxRevision" resultType="int">
		SELECT MAX(REVISION) FROM SBK_TB WHERE SBK_TB.SBK_YM = SUBSTRING(#{sbkId},3,2) AND SBK_TB.TYPE = SUBSTRING(#{sbkId},6,1) AND SBK_TB.SBK_SEQ = SUBSTRING(#{sbkId},7,4)
	</select>
		
	<insert id="copySbk">
	    <selectKey keyProperty="revision" resultType="int" order="BEFORE">
	        SELECT MAX(REVISION)+1 FROM SBK_TB WHERE SBK_TB.SBK_YM = SUBSTRING(#{sbkId},3,2) AND SBK_TB.TYPE = SUBSTRING(#{sbkId},6,1) AND SBK_TB.SBK_SEQ = SUBSTRING(#{sbkId},7,4)
	    </selectKey>
		INSERT INTO SBK_TB
		(
			SBK_YM,SBK_SEQ,TYPE,REVISION,
			BSNS_RGNMB, RPRSN, CRPRT_RGNMB, ADDRESS, RSDNT_RGNMB,
			INDST_MF_YN,INDST_SL_YN,INDST_IP_YN,
			MNG_TEL,MNG_EMAIL,EXTEND_MODEL,CMPNY_IDNTF,ATHNT_NMBR,
			NEW_CMPNY_IDNTF1,NEW_CMPNY_IDNTF2,NEW_CMPNY_IDNTF3,
			ELCTR_RTNG_W,CLOCK_FRQNC,MDL_IDNTF,ADD_DEV,
			MNFCT_CMPNY,MNFCT_CNTRY_CODE,MNFCT_ADRES, ADD_MNFCT_CMPNY,ADD_MNFCT_CNTRY,
			TEST_PLACE_IN_YN,TEST_PLACE_OUT_YN,TEST_ADRES,
			ELCTR_TEST_C_YN,ELCTR_TEST_K_YN,ELCTR_TEST_N_YN,
			TEST_RPRT_K_YN,TEST_RPRT_N_YN,TEST_RPRT_JODAL_YN,TEST_RPRT_SPRT_YN,TEST_RPRT_SPRT,TEST_RPRT_ETC_YN,TEST_RPRT_ETC,
			CNFRM_YN,IM_EUT_YN,IM_CLNT_YN,IM_DLVRY_YN,IM_DSPSL_YN,IM_ETC_YN,CUS_INFO_AGREE_YN,
			EST_CMP_TIME,INS_MEM_ID,UDT_MEM_ID,
			CF_JD_YN,CF_JI_YN,CF_JG_YN,CF_JJ_YN,CF_ETC1_YN,CF_ETC1,CF_AI_YN,CF_AH_YN,CF_GJ_YN,CF_DJ_YN,CF_EH_YN,CF_ETC2_YN,CF_ETC2,
			TEST_EMC_YN,TEST_EM_YN,TEST_EMF_YN,TEST_TEL_YN,TEST_ROHS_YN,TEST_SS_YN,TEST_SAF_YN,TEST_SM_YN,TEST_DJ_YN,TEST_EH_YN,TEST_RF_YN,TEST_SAR_YN,TEST_OUT_YN,TEST_IN_YN,
			CLASS_A_YN,CLASS_B_YN,
			PP_YN,PP_NAME,PP_NUM,PP_BL,PP_CNT,
			DOC_IS_YN,DOC_SS_YN,DOC_HD_YN,DOC_BB_YN,DOC_PD_YN,DOC_BL_YN,DOC_JB_YN,DOC_JS_YN,DOC_CR_YN,DOC_SI_YN,DOC_SG_YN,DOC_SB_YN,
			APP_YEAR, APP_MON, APP_DAY,APP_NAME,APP_AGREE_NAME, WORK_CHK_YN,WORK_NAME,
			SG_NEW_YN,SG_GB_YN,SG_DG_YN,SG_ETC_YN,
			CF_CD_YN,CF_CC_YN,CF_FCC_YN,CF_VCCI_YN,CF_PSE_YN,
			MOD_CHECK1_YN,MOD_CHECK2_YN,CMPNY_MEMO
		)
		SELECT
		    SBK_YM, SBK_SEQ, TYPE, #{revision},
		    BSNS_RGNMB, RPRSN, CRPRT_RGNMB, ADDRESS, RSDNT_RGNMB,
		    INDST_MF_YN, INDST_SL_YN, INDST_IP_YN,
		    MNG_TEL, MNG_EMAIL, EXTEND_MODEL, CMPNY_IDNTF, ATHNT_NMBR,
		    NEW_CMPNY_IDNTF1, NEW_CMPNY_IDNTF2, NEW_CMPNY_IDNTF3,
		    ELCTR_RTNG_W, CLOCK_FRQNC, MDL_IDNTF, ADD_DEV,
		    MNFCT_CMPNY, MNFCT_CNTRY_CODE, MNFCT_ADRES, ADD_MNFCT_CMPNY, ADD_MNFCT_CNTRY,
		    TEST_PLACE_IN_YN, TEST_PLACE_OUT_YN, TEST_ADRES,
		    ELCTR_TEST_C_YN, ELCTR_TEST_K_YN, ELCTR_TEST_N_YN,
		    TEST_RPRT_K_YN, TEST_RPRT_N_YN, TEST_RPRT_JODAL_YN, TEST_RPRT_SPRT_YN, TEST_RPRT_SPRT, TEST_RPRT_ETC_YN, TEST_RPRT_ETC,
		    CNFRM_YN, IM_EUT_YN, IM_CLNT_YN, IM_DLVRY_YN, IM_DSPSL_YN, IM_ETC_YN, CUS_INFO_AGREE_YN,
		    EST_CMP_TIME, #{insMemId}, #{udtMemId},
		    CF_JD_YN, CF_JI_YN, CF_JG_YN, CF_JJ_YN, CF_ETC1_YN, CF_ETC1, CF_AI_YN, CF_AH_YN, CF_GJ_YN, CF_DJ_YN, CF_EH_YN, CF_ETC2_YN, CF_ETC2, 
		    TEST_EMC_YN, TEST_EM_YN, TEST_EMF_YN, TEST_TEL_YN, TEST_ROHS_YN, TEST_SS_YN, TEST_SAF_YN, TEST_SM_YN, TEST_DJ_YN, TEST_EH_YN, TEST_RF_YN, TEST_SAR_YN, TEST_OUT_YN, TEST_IN_YN,
		    CLASS_A_YN, CLASS_B_YN,
		    PP_YN, PP_NAME, PP_NUM, PP_BL, PP_CNT,
		    DOC_IS_YN, DOC_SS_YN, DOC_HD_YN, DOC_BB_YN, DOC_PD_YN, DOC_BL_YN, DOC_JB_YN, DOC_JS_YN, DOC_CR_YN, DOC_SI_YN, DOC_SG_YN, DOC_SB_YN,
		    DATE_FORMAT (NOW(), '%Y'), DATE_FORMAT (NOW(), '%m'), DATE_FORMAT (NOW(), '%d'),APP_NAME,APP_AGREE_NAME, WORK_CHK_YN,WORK_NAME,
			SG_NEW_YN,SG_GB_YN,SG_DG_YN,SG_ETC_YN,
			CF_CD_YN,CF_CC_YN,CF_FCC_YN,CF_VCCI_YN,CF_PSE_YN,
			MOD_CHECK1_YN,MOD_CHECK2_YN,CMPNY_MEMO
		        
		FROM SBK_TB
		
		WHERE 1=1
		AND REVISION = 0
		AND SBK_TB.SBK_YM = SUBSTRING(#{sbkId},3,2)
		AND SBK_TB.TYPE = SUBSTRING(#{sbkId},6,1)
		AND SBK_TB.SBK_SEQ = SUBSTRING(#{sbkId},7,4)
	</insert>
	
	<insert id="copyQuo">
	    <selectKey keyProperty="quoSeq" resultType="int" order="BEFORE">
	        SELECT IFNULL (MAX(QUO_SEQ),0)+1 FROM QUO_TB WHERE SUBSTRING(QUO_YM,1,2) = DATE_FORMAT (NOW(), '%y')
	    </selectKey>
		INSERT INTO QUO_TB
		(
			QUO_YM, QUO_SEQ, TYPE,
			ISSUE_DT, TRGT_CRTFC, PRD_INF, POWER_SUPLY_YN, WGHT_YN,
			MEMO, ENG_MEMO, VAT_YN, NEED_WEEK, SPCL_CNDTN,
			VERSION, 
			INS_MEM_ID, UDT_MEM_ID
		)
		SELECT 
			DATE_FORMAT (NOW(), '%y%m'), #{quoSeq}, QUO_TB.TYPE,
			NOW(), TRGT_CRTFC, PRD_INF, POWER_SUPLY_YN, WGHT_YN,
			MEMO, ENG_MEMO, VAT_YN, NEED_WEEK, SPCL_CNDTN,
			VERSION, 
			#{insMemId}, #{udtMemId}
		FROM QUO_TB
			INNER JOIN JOB_TB ON QUO_TB.QUO_YM = JOB_TB.QUO_YM
			AND QUO_TB.QUO_SEQ = JOB_TB.QUO_SEQ
		WHERE 1=1
		AND JOB_TB.SBK_REVISION = 0
		AND JOB_TB.SBK_YM = SUBSTRING(#{sbkId},3,2)
		AND JOB_TB.SBK_TYPE = SUBSTRING(#{sbkId},6,1)
		AND JOB_TB.SBK_SEQ = SUBSTRING(#{sbkId},7,4)
	</insert>
	
	<insert id="copyJob">
		INSERT INTO JOB_TB
		(
			CMPY_SEQ, CMPY_MNG_SEQ, SBK_YM, SBK_TYPE, SBK_SEQ, SBK_REVISION, QUO_YM, QUO_SEQ, 
			CMPY_NAME, CMPY_PHONE, CMPY_FAX, MNG_NAME, MNG_PHONE, MNG_FAX, PRDCT_NAME, MODEL_NAME,
			INS_MEM_ID, UDT_MEM_ID
		)
		SELECT
			CMPY_SEQ, CMPY_MNG_SEQ, SBK_YM, SBK_TYPE, SBK_SEQ, #{revision}, DATE_FORMAT (NOW(), '%y%m'), #{quoSeq}, 
			CMPY_NAME, CMPY_PHONE, CMPY_FAX, MNG_NAME, MNG_PHONE, MNG_FAX, PRDCT_NAME, MODEL_NAME,
			#{insMemId}, #{udtMemId}
		FROM JOB_TB
		WHERE 1=1
		AND SBK_REVISION = 0
		AND SBK_YM = SUBSTRING(#{sbkId},3,2)
		AND SBK_TYPE = SUBSTRING(#{sbkId},6,1)
		AND SBK_SEQ = SUBSTRING(#{sbkId},7,4)
	</insert>
	
	<insert id="copyTestItem">
		INSERT INTO TEST_ITEM_TB
		(
			QUO_YM, QUO_SEQ, CRTF_TYPE_SEQ,
			TEST_TYPE_CODE, TEST_STNDR_SEQ, TEST_STNDR_TEXT, PRODUCT, MODEL, MEMO, ORG_TEST_ITEM_SEQ,  
			INS_MEM_ID, UDT_MEM_ID
		)
		SELECT
			DATE_FORMAT (NOW(), '%y%m'), #{quoSeq}, CRTF_TYPE_SEQ,
			TEST_TYPE_CODE, TEST_STNDR_SEQ, TEST_STNDR_TEXT, PRODUCT, MODEL, MEMO, TEST_ITEM_SEQ,  
			#{insMemId}, #{udtMemId}
		FROM TEST_ITEM_TB
		
			# 본 신청서와 연결된 견적서 정보 필요
			INNER JOIN JOB_TB ON TEST_ITEM_TB.QUO_YM = JOB_TB.QUO_YM
		    AND TEST_ITEM_TB.QUO_SEQ = JOB_TB.QUO_SEQ
		    AND SBK_REVISION = 0
		WHERE 1=1
		
		AND JOB_TB.SBK_YM = SUBSTRING(#{sbkId},3,2)
		AND JOB_TB.SBK_TYPE = SUBSTRING(#{sbkId},6,1)
		AND JOB_TB.SBK_SEQ = SUBSTRING(#{sbkId},7,4)
		
		AND TEST_ITEM_TB.STATE != 'D'
	</insert>
</mapper>