<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.sys.service.MacMapper">

	<select id="selectList" parameterType="comParam" resultType="egovMap">
		set @rownum:=0;
		
		select lst.*
		from (
			select
				@rownum:=@rownum+1 as no,
				MACHINE_SEQ,
			    CEA_YN,
                CEB_YN,
                REA_YN,
                REB_YN,
                ESD_YN,
                RS_YN,
                EFT_YN,
                SURGE_YN,
                CS_YN,
                MFLD_YN,
                VDIP_YN,
                /* 9814 */
                CLK_YN,
                DP_YN,
                name,
			    model,
			    MNFCT_CMPNY,
			    MNFCT_SERIAL,
			    ifnull(date_format(REFORM_DT, '%Y-%m-%d'), '-') reformDtStr,
			    REFORM_PERIOD,
                ifnull(memo, '') memo,
          <if test="searchVO != null">
          <foreach collection="searchVO" item="item">
          	<if test="item.searchCode == -9">
		          <foreach collection="searchVO" item="item">
					<if test="item.searchCode == 10">
						<choose>
							<when test="item.searchWord == 'ED'">ESD_USE_YN useYn, ESD_ORDR disOrdr,</when>
							<when test="item.searchWord == 'RS'">RS_USE_YN useYn, RS_ORDR disOrdr,</when>
							<when test="item.searchWord == 'ET'">EFT_USE_YN useYn, EFT_ORDR disOrdr,</when>
							<when test="item.searchWord == 'SG'">SURGE_USE_YN useYn, SURGE_ORDR disOrdr,</when>
							<when test="item.searchWord == 'CS'">CS_USE_YN useYn, CS_ORDR disOrdr,</when>
							<when test="item.searchWord == 'MF'">MFLD_USE_YN useYn, MFLD_ORDR disOrdr,</when>
							<when test="item.searchWord == 'VD'">VDIP_USE_YN useYn, VDIP_ORDR disOrdr,</when>
							<when test="item.searchWord == 'CA'">CEA_USE_YN useYn, CEA_ORDR disOrdr,</when>
							<when test="item.searchWord == 'CB'">CEB_USE_YN useYn, CEB_ORDR disOrdr,</when>
							<when test="item.searchWord == 'RA'">REA_USE_YN useYn, REA_ORDR disOrdr,</when>
							<when test="item.searchWord == 'RB'">REB_USE_YN useYn, REB_ORDR disOrdr,</when>
							<!-- 9814 -->
							<when test="item.searchWord == 'CK'">CLK_USE_YN useYn, CLK_ORDR disOrdr,</when>
							<when test="item.searchWord == 'DP'">DP_USE_YN useYn, DP_ORDR disOrdr,</when>
						</choose>
					</if>
				</foreach>
          	</if>
          </foreach>
 		</if>
                ifnull(date_format(INS_DT, '%Y-%m-%d'), '-') InsDtStr,
                ifnull(FN_MEM_NAME(INS_MEM_ID),'') insMemId,
                ifnull(FN_MEM_NAME(UDT_MEM_ID),'') udtMemId
			from MACHINE_TB
			where 1=1
			AND STATE != 'D'
	        <if test="searchVO != null">
			<foreach collection="searchVO" item="item">
				<!-- 47	차기교정일 -->
        		<if test="item.searchCode == 47">AND date_format(REFORM_DT, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</if>
				<!-- 48	사용장비명 -->
				<if test="item.searchCode == 48">AND name like concat('%',#{item.searchWord},'%')</if>
				<!-- 27 모델명 -->
   				<if test="item.searchCode == 27">AND model like concat('%',#{item.searchWord},'%')</if>
				<!-- 2-작성자 -->
   				<if test="item.searchCode == 2">AND ifnull(FN_MEM_NAME(MACHINE_TB.INS_MEM_ID), '') like concat('%',#{item.searchWord},'%')</if>
   				<if test="item.searchCode == 10">
					<choose>
						<when test="item.searchWord == 'ED'">and ESD_YN = 1</when>
						<when test="item.searchWord == 'RS'">and RS_YN = 1</when>
						<when test="item.searchWord == 'ET'">and EFT_YN = 1</when>
						<when test="item.searchWord == 'SG'">and SURGE_YN = 1</when>
						<when test="item.searchWord == 'CS'">and CS_YN = 1</when>
						<when test="item.searchWord == 'MF'">and MFLD_YN = 1</when>
						<when test="item.searchWord == 'VD'">and VDIP_YN = 1</when>
						<when test="item.searchWord == 'CA'">and CEA_YN = 1</when>
						<when test="item.searchWord == 'CB'">and CEB_YN = 1</when>
						<when test="item.searchWord == 'RA'">and REA_YN = 1</when>
						<when test="item.searchWord == 'RB'">and REB_YN = 1</when>
						<!-- 9814 -->
						<when test="item.searchWord == 'CK'">and CLK_YN = 1</when>
						<when test="item.searchWord == 'DP'">and DP_YN = 1</when>
					</choose>
				</if>
			</foreach>
			order by 
			<foreach collection="searchVO" item="item">
				<if test="item.searchCode == 10">
					<choose>
						<when test="item.searchWord == 'ED'">ESD_ORDR ASC,</when>
						<when test="item.searchWord == 'RS'">RS_ORDR ASC,</when>
						<when test="item.searchWord == 'ET'">EFT_ORDR ASC,</when>
						<when test="item.searchWord == 'SG'">SURGE_ORDR ASC,</when>
						<when test="item.searchWord == 'CS'">CS_ORDR ASC,</when>
						<when test="item.searchWord == 'MF'">MFLD_ORDR ASC,</when>
						<when test="item.searchWord == 'VD'">VDIP_ORDR ASC,</when>
						<when test="item.searchWord == 'CA'">CEA_ORDR ASC,</when>
						<when test="item.searchWord == 'CB'">CEB_ORDR ASC,</when>
						<when test="item.searchWord == 'RA'">REA_ORDR ASC,</when>
						<when test="item.searchWord == 'RB'">REB_ORDR ASC,</when>
						<!-- 9814 -->
						<when test="item.searchWord == 'CK'">CLK_ORDR ASC,</when>
						<when test="item.searchWord == 'DP'">DP_ORDR ASC,</when>
					</choose>
				</if>
			</foreach>
			MACHINE_SEQ DESC
			</if>
			
		) lst
		order by no asc
	</select>
	
	<insert id="insert" parameterType="machineDTO">
		<selectKey resultType="int" keyProperty="machineSeq" order="AFTER">
	        SELECT MAX(MACHINE_SEQ) machineSeq FROM MACHINE_TB;
	    </selectKey>
	  INSERT INTO MACHINE_TB
	  (
	    MACHINE_SEQ,
	    NAME,
	    MODEL,
	    MNFCT_CMPNY,
	    MNFCT_SERIAL,
	    <if test="reformDt != null and reformDt != ''">REFORM_DT,</if>
	    REFORM_PERIOD,
	    MEMO,
	    CEA_YN,
	    CEB_YN,
	    REA_YN,
	    REB_YN,
	    ESD_YN,
	    RS_YN,
	    EFT_YN,
	    SURGE_YN,
	    CS_YN,
	    MFLD_YN,
	    VDIP_YN,
	    /* 9814 */
	    CLK_YN,
	    DP_YN,
	    INS_MEM_ID,
	    UDT_MEM_ID
	  )
	  VALUES
	  (
	    IF(#{machineSeq}=0,(SELECT IFNULL(MAX(seq.MACHINE_SEQ)+1,1) machineSeq FROM MACHINE_TB seq), #{machineSeq}),
	    #{name},
	    #{model},
	    #{mnfctCmpny},
	    #{mnfctSerial},
	    <if test="reformDt != null and reformDt != ''">#{reformDt},</if>
	    #{reformPeriod},
	    #{memo},
	    #{ceaYn},
	    #{cebYn},
	    #{reaYn},
	    #{rebYn},
	    #{esdYn},
	    #{rsYn},
	    #{eftYn},
	    #{surgeYn},
	    #{csYn},
	    #{mfldYn},
	    #{vdipYn},
	    /* 9814 */
	    #{clkYn},
	    #{dpYn},
	    #{insMemId},
	    #{udtMemId}
	  )
	  ON DUPLICATE KEY UPDATE
	    NAME = #{name},
	    MODEL = #{model},
	    MNFCT_CMPNY = #{mnfctCmpny},
	    MNFCT_SERIAL = #{mnfctSerial},
	    <if test="reformDt != null and reformDt != ''">REFORM_DT = #{reformDt},</if>
	    REFORM_PERIOD = #{reformPeriod},
	    MEMO = #{memo},
	    CEA_YN = #{ceaYn},
	    CEB_YN = #{cebYn},
	    REA_YN = #{reaYn},
	    REB_YN = #{rebYn},
	    ESD_YN = #{esdYn},
	    RS_YN = #{rsYn},
	    EFT_YN = #{eftYn},
	    SURGE_YN = #{surgeYn},
	    CS_YN = #{csYn},
	    MFLD_YN = #{mfldYn},
	    VDIP_YN = #{vdipYn},
	    /* 9814 */
	    CLK_YN = #{clkYn},
	    DP_YN = #{dpYn},
	    UDT_DT = NOW(),
	    UDT_MEM_ID = #{udtMemId},
	    STATE = #{state}
	</insert>
	
	<insert id="update">
		UPDATE MACHINE_TB
		SET 
		<choose>
			<when test="type == 'ED'"> ESD_ORDR = #{disOrdr} , ESD_USE_YN = #{useYn},</when>
			<when test="type == 'RS'"> RS_ORDR = #{disOrdr} , RS_USE_YN = #{useYn},</when>
			<when test="type == 'ET'"> EFT_ORDR = #{disOrdr} , EFT_USE_YN = #{useYn},</when>
			<when test="type == 'SG'"> SURGE_ORDR = #{disOrdr} , SURGE_USE_YN = #{useYn},</when>
			<when test="type == 'CS'"> CS_ORDR = #{disOrdr} , CS_USE_YN = #{useYn},</when>
			<when test="type == 'MF'"> MFLD_ORDR = #{disOrdr} , MFLD_USE_YN = #{useYn},</when>
			<when test="type == 'VD'"> VDIP_ORDR = #{disOrdr} , VDIP_USE_YN = #{useYn},</when>
			<when test="type == 'CT'"> CTI_ORDR = #{disOrdr} , CTI_USE_YN = #{useYn},</when>
			<when test="type == 'CA'"> CEA_ORDR = #{disOrdr} , CEA_USE_YN = #{useYn},</when>
			<when test="type == 'CB'"> CEB_ORDR = #{disOrdr} , CEB_USE_YN = #{useYn},</when>
			<when test="type == 'RA'"> REA_ORDR = #{disOrdr} , REA_USE_YN = #{useYn},</when>
			<when test="type == 'RB'"> REB_ORDR = #{disOrdr} , REB_USE_YN = #{useYn},</when>
			<when test="type == 'CK'"> CLK_ORDR = #{disOrdr} , CLK_USE_YN = #{useYn},</when>
			<when test="type == 'DP'"> DP_ORDR = #{disOrdr} , DP_USE_YN = #{useYn},</when>
		</choose>
			STATE = 'U', UDT_DT = NOW(), UDT_MEM_ID = #{udtMemId}
		
		WHERE MACHINE_SEQ = #{machineSeq}
	</insert>
	
</mapper>