<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.sys.service.StbMapper">

	<select id="selectListCnt" parameterType="comParam" resultType="int">
		SELECT
			count(1)
		FROM
			TEST_STNDR_TB
		WHERE TEST_STNDR_TB.STATE != 'D'
		<if test="searchVO != null">
	        <foreach collection="searchVO" item="item" separator="">
	       
	        	<choose>
	        		<!-- 2-작성자 -->
       				<when test="item.searchCode == 2">AND ifnull(FN_MEM_NAME(TEST_STNDR_TB.INS_MEM_ID), '') like concat('%',#{item.searchWord},'%')</when>
					<!-- 15-작성일 -->
	        		<when test="item.searchCode == 15">AND date_format(TEST_STNDR_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
					<!-- 40	시험규격 -->
					<when test="item.searchCode == 40">AND TEST_STNDR_TB.TEST_STNDR like concat('%',#{item.searchWord},'%')</when>
					
				</choose>
			</foreach>
		</if>
	</select>

	<select id="selectList" parameterType="comParam" resultType="egovMap">
		set @rownum:=0;
		
		SELECT
			@rownum:=@rownum+1 as no, 
			lst.*
		FROM
			(
				SELECT
					TEST_STNDR_SEQ,
					TEST_STNDR_TB.TEST_STNDR,
					IFNULL(TEST_STNDR_TB.MEMO, '') MEMO,
					date_format (TEST_STNDR_TB.ins_dt, '%Y-%m-%d') insDtStr,
					IFNULL(FN_MEM_NAME (TEST_STNDR_TB.ins_mem_id), '') memName
				FROM
					TEST_STNDR_TB
				WHERE TEST_STNDR_TB.STATE != 'D'
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			       
			        	<choose>
			        		<!-- 2-작성자 -->
	        				<when test="item.searchCode == 2">AND ifnull(FN_MEM_NAME(TEST_STNDR_TB.INS_MEM_ID), '') like concat('%',#{item.searchWord},'%')</when>
							<!-- 15-작성일 -->
			        		<when test="item.searchCode == 15">AND date_format(TEST_STNDR_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
							<!-- 40	시험규격 -->
							<when test="item.searchCode == 40">AND TEST_STNDR_TB.TEST_STNDR like concat('%',#{item.searchWord},'%')</when>
							
						</choose>
					</foreach>
				</if>
				order by
					TEST_STNDR_TB.TEST_STNDR_SEQ ASC
			) lst
		ORDER BY
			no desc
	</select>
	
	<insert id="insert" parameterType="testStndrDTO">
	    <selectKey resultType="int" keyProperty="testStndrSeq" order="AFTER">
	        SELECT MAX(TEST_STNDR_SEQ) testStndrSeq FROM TEST_STNDR_TB;
	    </selectKey>
		INSERT INTO
		    TEST_STNDR_TB (
		        TEST_STNDR_SEQ,
		        TEST_STNDR,
		        MEMO,
		        INS_MEM_ID,
		        UDT_MEM_ID
		    )
	    VALUES
		(
	        IF(#{testStndrSeq}=0,(SELECT IFNULL(MAX(seq.TEST_STNDR_SEQ)+1,1) testStndrSeq FROM TEST_STNDR_TB seq), #{testStndrSeq}),
			#{testStndr},
			#{memo},
			#{insMemId},
			#{udtMemId}
		)
		ON DUPLICATE KEY UPDATE
		    TEST_STNDR = #{testStndr},
		    MEMO = #{memo},
		    UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW(),
	        STATE = #{state}
	</insert>
	
	
	<select id="selectCateListCnt" parameterType="comParam" resultType="int">
		SELECT
			count(1)
		FROM
		    TEST_CATE_TB cate4
		    inner join TEST_CATE_TB cate3 on cate4.TOP_DEPTH_SEQ = cate3.TEST_CATE_SEQ
		    inner join TEST_CATE_TB cate2 on cate3.TOP_DEPTH_SEQ = cate2.TEST_CATE_SEQ
		    inner join TEST_CATE_TB cate1 on cate2.TOP_DEPTH_SEQ = cate1.TEST_CATE_SEQ
		where
		    1 = 1
		    and cate4.state != 'D'
		    and cate4.depth = 4
		<if test="searchVO != null">
	        <foreach collection="searchVO" item="item" separator="">
	       
	        	<choose>
					<!-- 15-작성일 -->
	        		<when test="item.searchCode == 15">and date_format(cate4.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
					<!-- 35	국가-->
					<when test="item.searchCode == 35">and cate1.TEST_CATE_SEQ = #{item.searchWord}</when>
					<!-- 36	인증종류1 -->
					<when test="item.searchCode == 36">and cate2.TEST_CATE_SEQ = #{item.searchWord}</when>
					<!-- 37	인증종류2 -->
					<when test="item.searchCode == 37">and cate3.TEST_CATE_SEQ = #{item.searchWord}</when>
					<!-- 38	인증종류3 -->
					<when test="item.searchCode == 38">and cate4.TEST_CATE_SEQ = #{item.searchWord}</when>
					<!-- 2-작성자 -->
       				<when test="item.searchCode ==  2">and ifnull(FN_MEM_NAME(cate4.INS_MEM_ID), '') like concat('%',#{item.searchWord},'%')</when>
				</choose>
			</foreach>
		</if>
	</select>

	<select id="selectCateList" parameterType="comParam" resultType="egovMap">
		set @rownum:=0;
		
		SELECT
			@rownum:=@rownum+1 as no, 
			lst.*
		FROM
			(
				SELECT
					cate4.TEST_CATE_SEQ,
				    cate1.name depth1Text,
				    cate2.name depth2Text,
				    cate3.name depth3Text,
				    cate4.name depth4Text,
				    cate4.memo,
				    date_format (cate4.ins_dt, '%Y-%m-%d') insDtStr,
				    IFNULL(FN_MEM_NAME (cate4.ins_mem_id), '') memName
				FROM
				    TEST_CATE_TB cate4
				    inner join TEST_CATE_TB cate3 on cate4.TOP_DEPTH_SEQ = cate3.TEST_CATE_SEQ
				    inner join TEST_CATE_TB cate2 on cate3.TOP_DEPTH_SEQ = cate2.TEST_CATE_SEQ
				    inner join TEST_CATE_TB cate1 on cate2.TOP_DEPTH_SEQ = cate1.TEST_CATE_SEQ
				where
				    1 = 1
				    and cate4.state != 'D'
				    and cate4.depth = 4
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			       
			        	<choose>
							<!-- 15-작성일 -->
			        		<when test="item.searchCode == 15">and date_format(cate4.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
							<!-- 35	국가-->
							<when test="item.searchCode == 35">and cate1.TEST_CATE_SEQ = #{item.searchWord}</when>
							<!-- 36	인증종류1 -->
							<when test="item.searchCode == 36">and cate2.TEST_CATE_SEQ = #{item.searchWord}</when>
							<!-- 37	인증종류2 -->
							<when test="item.searchCode == 37">and cate3.TEST_CATE_SEQ = #{item.searchWord}</when>
							<!-- 38	인증종류3 -->
							<when test="item.searchCode == 38">and cate4.TEST_CATE_SEQ = #{item.searchWord}</when>
							<!-- 2-작성자 -->
	        				<when test="item.searchCode ==  2">and ifnull(FN_MEM_NAME(cate4.INS_MEM_ID), '') like concat('%',#{item.searchWord},'%')</when>
						</choose>
					</foreach>
				</if>
				order by
					cate4.TEST_CATE_SEQ ASC
			) lst
		ORDER BY
			no desc
	</select>
	
	<insert id="insertCate" parameterType="testCateDTO">
	    <selectKey resultType="int" keyProperty="testCateSeq" order="AFTER">
	        SELECT MAX(TEST_CATE_SEQ) testCateSeq FROM TEST_CATE_TB;
	    </selectKey>
		INSERT INTO
		    TEST_CATE_TB (
		    	TEST_CATE_SEQ,
		        DEPTH,
		        NAME,  
		        TOP_DEPTH_SEQ,
		        MEMO,
		        INS_MEM_ID,
		        UDT_MEM_ID
		    )
	    VALUES
		(
	        IF(#{testCateSeq}=0,(SELECT IFNULL(MAX(seq.TEST_CATE_SEQ)+1,1) testCateSeq FROM TEST_CATE_TB seq), #{testCateSeq}),
			#{depth},
			#{name},
			#{topDepthSeq},
			#{memo},
			#{insMemId},
			#{udtMemId}
		)
		ON DUPLICATE KEY UPDATE
		    UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW(),
	        STATE = #{state}
	</insert>
	
</mapper>