<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.ppc.service.PpcMapper">

	<select id="selectListCnt" parameterType="comParam" resultType="int">
		SELECT
			COUNT(1)
		FROM PP_TB
			
            LEFT JOIN CMPY_TB
            ON PP_TB.CMPY_SEQ = CMPY_TB.CMPY_SEQ
            LEFT JOIN CMPY_MNG_TB
            ON PP_TB.CMPY_MNG_SEQ = CMPY_MNG_TB.CMPY_MNG_SEQ
            AND CMPY_MNG_TB.STATE != 'D'
            
		WHERE 1=1
		<if test="searchVO != null">
	        <foreach collection="searchVO" item="item" separator="">
	       
		        	<choose>
		        		<!-- 1-고객유형 -->
		        		<when test="item.searchCode == 1">and ifnull(CMPY_TB.CMPY_CODE,'9999') = #{item.searchWord}</when>
		        		<!-- 5-접수번호 -->
		        		<when test="item.searchCode == 5">and FN_GET_SEQSTRING('PP',PP_YM,'',PP_SEQ) like concat('%',#{item.searchWord},'%')</when>
				        <!-- 4-컨설팅/직고객명 -->
				        <when test="item.searchCode == 4">and IFNULL(CMPY_TB.CMPY_NAME, '') like concat('%',#{item.searchWord},'%')</when>
				        <!-- 12-회사명 -->
				        <when test="item.searchCode == 12">and IFNULL(CMPNY_NAME, '') like concat('%',#{item.searchWord},'%')</when>
		        		<!-- 6-제품명 -->
			        	<when test="item.searchCode == 6">and PRDCT_NAME like concat('%',#{item.searchWord},'%')</when>
				        <!-- 27-모델명 -->
				        <when test="item.searchCode == 27">and MODEL_NAME like concat('%',#{item.searchWord},'%')</when>
						<!-- 7	고지부담당자 -->
						<when test="item.searchCode == 7">and FN_MEM_NAME(PP_TB.ins_mem_id) like concat('%',#{item.searchWord},'%')</when>
				        <!-- 15-작성일 -->
				        <when test="item.searchCode == 15">and date_format(PP_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
		        	</choose>
	        	
	        </foreach>
        </if>
	</select>
	<select id="selectList" parameterType="comParam" resultType="egovMap">
		
		SELECT 
			@rownum:=@rownum+1 as no,
			lst.*
		FROM (
			SELECT
				
				FN_GET_SEQSTRING ('PP',PP_YM,'',PP_SEQ) ppId,
	            DATE_FORMAT (PP_TB.INS_DT, '%Y-%m-%d') INS_DT_STR,
	            IFNULL (FN_CODE_NAME(CMPY_CODE,'PT'), '미등록') CMPY_TYPE,
	            IFNULL (CMPY_TB.CMPY_NAME, '') cmpyTitle,
	            
	            CMPNY_NAME,
	            MNFCT_CMPNY,
			    MNFCT_CNTRY,
			    PRDCT_NAME,
			    MODEL_NAME,
			    BL,
			    HS_CD,
			    IM_QTY,
			    UNIPASS,
	            IFNULL (REQ_NUMBER, '') REQ_NUMBER,
	            
	            IFNULL (FN_MEM_NAME(PP_TB.INS_MEM_ID), '') INS_NAME,
			    FN_LAST_PP_MENO(PP_TB.pp_ym, PP_TB.pp_seq) LAST_MEMO,
			    
			    DATEDIFF (CURRENT_DATE(), PP_TB.INS_DT) addDay,
			    DATE_FORMAT (DATE_ADD(PP_TB.INS_DT, INTERVAL 60 DAY), '%Y-%m-%d') dDay,
			    
				QUO_ID
			FROM PP_TB
				
	            LEFT JOIN CMPY_TB
	            ON PP_TB.CMPY_SEQ = CMPY_TB.CMPY_SEQ
	            LEFT JOIN CMPY_MNG_TB
	            ON PP_TB.CMPY_MNG_SEQ = CMPY_MNG_TB.CMPY_MNG_SEQ
	            AND CMPY_MNG_TB.STATE != 'D'
	            
	            INNER JOIN (SELECT @rownum:=0) r
	            
			WHERE 1=1
	        <if test="searchVO != null">
		        <foreach collection="searchVO" item="item" separator="">
		       
		        	<choose>
		        		<!-- 1-고객유형 -->
		        		<when test="item.searchCode == 1">and ifnull(CMPY_TB.CMPY_CODE,'9999') = #{item.searchWord}</when>
		        		<!-- 5-접수번호 -->
		        		<when test="item.searchCode == 5">and FN_GET_SEQSTRING('PP',PP_YM,'',PP_SEQ) like concat('%',#{item.searchWord},'%')</when>
				        <!-- 4-컨설팅/직고객명 -->
				        <when test="item.searchCode == 4">and IFNULL(CMPY_TB.CMPY_NAME, '') like concat('%',#{item.searchWord},'%')</when>
				        <!-- 12-회사명 -->
				        <when test="item.searchCode == 12">and IFNULL(CMPNY_NAME, '') like concat('%',#{item.searchWord},'%')</when>
		        		<!-- 6-제품명 -->
			        	<when test="item.searchCode == 6">and PRDCT_NAME like concat('%',#{item.searchWord},'%')</when>
				        <!-- 27-모델명 -->
				        <when test="item.searchCode == 27">and MODEL_NAME like concat('%',#{item.searchWord},'%')</when>
						<!-- 7	고지부담당자 -->
						<when test="item.searchCode == 7">and FN_MEM_NAME(PP_TB.ins_mem_id) like concat('%',#{item.searchWord},'%')</when>
				        <!-- 15-작성일 -->
				        <when test="item.searchCode == 15">and date_format(PP_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
		        	</choose>
		        	
		        </foreach>
	        </if>
	        
	        ORDER BY PP_TB.INS_DT ASC
	    ) lst
	    ORDER BY NO DESC
		LIMIT #{pageUnit} OFFSET #{firstIndex};
	</select>

	<select id="selectDetail" parameterType="String" resultType="ppDTO">
		SELECT 
			PP_SEQ,
		    QUO_ID,
		    IFNULL ((SELECT cmpy.CMPY_CODE FROM CMPY_TB cmpy WHERE cmpy.CMPY_SEQ = PP_TB.CMPY_SEQ),'') cmpy_code,
		    PP_TB.CMPY_SEQ,
		    IFNULL (CMPY_TB.CMPY_NAME, '') cmpyTitle,
		    CMPY_MNG_SEQ,
		    CMPNY_NAME,
		    PP_TB.RPRSN,
		    IFNULL(FN_GET_PHONE_FORMAT(RPRSN_PHONE),'') RPRSN_PHONE,
		    RPRSN_EMAIL,
		    CONTACT,
		    IFNULL(FN_GET_PHONE_FORMAT(CONTACT_PHONE),'') CONTACT_PHONE,
		    CONTACT_EMAIL,
		    MNFCT_CMPNY,
		    MNFCT_CNTRY,
		    MNFCT_ADRES,
		    PRDCT_NAME,
		    MODEL_NAME,
		    BL,
		    HS_CD,
		    IM_QTY,
		    UNIPASS,
		    REQ_NUMBER,
		    PP_TB.MEMO
		FROM PP_TB
			LEFT JOIN CMPY_TB ON PP_TB.CMPY_SEQ = CMPY_TB.CMPY_SEQ
		WHERE
		  	PP_YM = SUBSTRING(#{ppId},3,2)
		  AND 
		  	PP_SEQ = SUBSTRING(#{ppId},6,4)
	</select>

	<select id="selectMemoList" parameterType="String" resultType="ppHis">
		SELECT 
			PP_HIS_SEQ,
			MEMO,
            DATE_FORMAT (INS_DT, '%Y-%m-%d %T') insDtStr,
            CONCAT_WS ('_', fn_dept_name(INS_MEM_ID),fn_mem_name(INS_MEM_ID)) insMem
		FROM PP_HIS_TB
		WHERE
		  	PP_YM = SUBSTRING(#{ppId},3,2)
		  AND 
		  	PP_SEQ = SUBSTRING(#{ppId},6,4)
		ORDER BY PP_HIS_SEQ desc
	</select>
			
	<insert id="insert" parameterType="ppDTO" useGeneratedKeys="true" keyProperty="ppSeq">
		<selectKey keyProperty="ppSeq" resultType="int" order="BEFORE">
	        SELECT ifnull(max(PP_SEQ),0)+1 FROM PP_TB WHERE PP_YM = date_format(now(), '%y')
	    </selectKey>
	  <![CDATA[
	  INSERT INTO PP_TB (
	  	PP_YM,
	  	PP_SEQ,
	    QUO_ID,
	    CMPY_SEQ,
	    CMPY_MNG_SEQ,
	    CMPNY_NAME,
	    RPRSN,
	    RPRSN_PHONE,
	    RPRSN_EMAIL,
	    CONTACT,
	    CONTACT_PHONE,
	    CONTACT_EMAIL,
	    MNFCT_CMPNY,
	    MNFCT_CNTRY,
	    MNFCT_ADRES,
	    PRDCT_NAME,
	    MODEL_NAME,
	    BL,
	    HS_CD,
	    IM_QTY,
	    UNIPASS,
	    REQ_NUMBER,
	    MEMO,
	    INS_MEM_ID,
	    UDT_MEM_ID
	  )
	  VALUES (
	  	date_format(now(), '%y'),
	  	#{ppSeq},
	    #{quoId},
	    #{cmpySeq},
	    #{cmpyMngSeq},
	    #{cmpnyName},
	    #{rprsn},
	    #{rprsnPhone},
	    #{rprsnEmail},
	    #{contact},
	    #{contactPhone},
	    #{contactEmail},
	    #{mnfctCmpny},
	    #{mnfctCntry},
	    #{mnfctAdres},
	    #{prdctName},
	    #{modelName},
	    #{bl},
	    #{hsCd},
	    #{imQty},
	    #{unipass},
	    #{reqNumber},
	    #{memo},
	    #{insMemId},
	    #{udtMemId}
	  )
	  ]]>
	</insert>
	
	<update id="update" parameterType="ppDTO">
		<![CDATA[
		  UPDATE PP_TB
		  SET
		    QUO_ID = #{quoId},
		    CMPY_SEQ = #{cmpySeq},
		    CMPY_MNG_SEQ = #{cmpyMngSeq},
		    CMPNY_NAME = #{cmpnyName},
		    RPRSN = #{rprsn},
		    RPRSN_PHONE = #{rprsnPhone},
		    RPRSN_EMAIL = #{rprsnEmail},
		    CONTACT = #{contact},
		    CONTACT_PHONE = #{contactPhone},
		    CONTACT_EMAIL = #{contactEmail},
		    MNFCT_CMPNY = #{mnfctCmpny},
		    MNFCT_CNTRY = #{mnfctCntry},
		    MNFCT_ADRES = #{mnfctAdres},
		    PRDCT_NAME = #{prdctName},
		    MODEL_NAME = #{modelName},
		    BL = #{bl},
		    HS_CD = #{hsCd},
		    IM_QTY = #{imQty},
		    UNIPASS = #{unipass},
		    REQ_NUMBER = #{reqNumber},
		    MEMO = #{memo},
		    UDT_DT = NOW(),
		    STATE = 'U',
		    UDT_MEM_ID = #{udtMemId}
		  WHERE
		  	PP_YM = substring(#{ppId},3,2)
		  AND 
		  	PP_SEQ = substring(#{ppId},6,4);
		]]>
	</update>

	<insert id="insertMemo" parameterType="ppHis" >
		INSERT INTO PP_HIS_TB
		(
			PP_YM,
			PP_SEQ,
			MEMO,
			INS_MEM_ID,
			UDT_MEM_ID
		)
		VALUES
		(
		<if test="ppId != null and ppId != ''">
			substring(#{ppId},3,2),
			substring(#{ppId},6,4),
		</if>
		<if test="ppId == null or ppId == ''">
			date_format(now(), '%y'),
			#{ppSeq},
		</if>
		<![CDATA[
			#{memo},
			#{insMemId},
			#{udtMemId}
			);
		]]>
	</insert>

</mapper>