<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="LAYOUT_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LAYOUT_PATTERN}" />
        </Console>

        <RollingFile name="FILE_APPENDER" 
                     fileName="${LOG_PATH}/dailyLog.log"
                     filePattern="${LOG_PATH}/archive/dailyLog_%d{yyyyMMdd}-%i.log">
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="30MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="ERROR_APPENDER" 
                     fileName="${LOG_PATH}/errorLog.log"
                     filePattern="${LOG_PATH}/archive/errorLog_%d{yyyyMMdd}.log">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %method - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="30MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>

        <RollingFile name="MARKER_APPENDER" 
                     fileName="${LOG_PATH}/markerLog.log"
                     filePattern="${LOG_PATH}/archive/markerLog_%d{yyyyMMdd}-%i.log">
            <PatternLayout pattern="${LAYOUT_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="30MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <appender-ref ref="console" />
        </Root>

        <logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="FILE_APPENDER"/>
        </logger>
        <logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <appender-ref ref="FILE_APPENDER"/>
        </logger>
        <logger name="jdbc.resultset" level="INFO" additivity="false">
            <appender-ref ref="FILE_APPENDER"/>
        </logger>
        <logger name="egovframework" level="INFO" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="ERROR_APPENDER" level="ERROR" />
            
            <appender-ref ref="MARKER_APPENDER">
                <Filters>
                    <MarkerFilter marker="RD_MARKER" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                    <MarkerFilter marker="ACC_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
                </Filters>
            </appender-ref>
        </logger>

        <logger name="org.springframework.transaction" level="WARN" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="ERROR_APPENDER" />
        </logger>
        <logger name="java.sql" level="WARN" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="ERROR_APPENDER" />
        </logger>
        
        <logger name="org.apache.http" level="WARN"/>
        <logger name="jdbc.audit" level="WARN" />
        <logger name="jdbc.resultsettable" level="WARN" />

    </Loggers>
</Configuration>