<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.cmm.service.CmmMapper">

	<select id="cnsltList" resultType="egovMap">
  		select
			cmpy_seq,
		    cmpy_name
		from CMPY_TB
		where CMPY_CODE = '0000'
		and STATE != 'D'
		order by cmpy_name asc;
	</select>
	
	<select id="drctCstmrList" resultType="egovMap">
  		select
			cmpy_seq,
		    cmpy_name
		from CMPY_TB
		where CMPY_CODE = '1000'
		and STATE != 'D'
		order by cmpy_name asc;
	</select>
	
	<select id="cmpyDetail" parameterType="int" resultType="cmpy">
  		select
			CMPY_SEQ,
		    CMPY_NAME,
		    CMPNY_IDNTF,
		    BSNS_RGNMB,
		    CRPRT_RGNMB,
		    RPRSN,
		    RSDNT_RGNMB,
		    CMPY_PHONE,
		    ADDR,
            ENG_ADDR
		from CMPY_TB
		where cmpy_seq = #{cmpySeq}
		and STATE != 'D';
	</select>

	<select id="cmpyMngList" parameterType="int" resultType="egovMap">
  		select
			CMPY_MNG_SEQ,
		    CMPY_SEQ,
		    NAME,
		    FN_GET_PHONE_FORMAT(ifnull(PHONE, '')) PHONE,
		    FN_GET_PHONE_FORMAT(ifnull(TEL, '')) TEL,
		    FN_GET_PHONE_FORMAT(ifnull(FAX, '')) FAX,
		    EMAIL
		from CMPY_MNG_TB
		where CMPY_SEQ = #{cmpySeq}
		and STATE != 'D';
	</select>

	<select id="comcodeSearchList" parameterType="String" resultType="egovMap">
		SELECT 
			TOP_CD,
            IFNULL ((SELECT sub.TYPE_NAME FROM COMCODE_TB sub WHERE sub.TOP_CD = '00' AND sub.TYPE_CD = COMCODE_TB.TOP_CD), '최상위코드') TOP_NAME,
			TYPE_CD,
			TYPE_NAME
		FROM COMCODE_TB
		WHERE 1=1
        AND TYPE_NAME LIKE CONCAT ('%',#{code},'%')
        ORDER BY TOP_CD
	</select>
	
	<select id="comcodeList" parameterType="String" resultType="egovMap">
		SELECT 
			type_cd,
			type_name
		FROM COMCODE_TB
		WHERE use_yn = 1
		AND top_cd = #{code};
	</select>
	
	<select id="deptList" resultType="egovMap">
		select 
			dept_seq
			, name
		from DEPT_TB
		where 1=1
		and state != 'D'
		and TEST_YN = 1
		order by oder
	</select>
	
	<select id="revMemList" parameterType="int" resultType="egovMap">
		select 
			id
			, mem_name
		from MEMBER_TB
		where 1=1
		and state != 'D'
		and REV_YN = 1
		and work_state = '1'
		and dept_seq = #{deptSeq};
	</select>
	
	<select id="deptMemList" parameterType="int" resultType="egovMap">
		select 
			id
			, mem_name
		from MEMBER_TB
		where 1=1
		and state != 'D'
		/*and REV_YN = 1*/
		and work_state = '1'
		and dept_seq = #{deptSeq};
	</select>
	
	<update id="jobStateUpdate" parameterType="job">
		UPDATE JOB_TB
		SET
			STATE_CODE = #{stateCode},
			STATE_UDT_DT = NOW()
		WHERE JOB_SEQ = #{jobSeq}
	</update>
	
</mapper>