<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.cmm.service.CmmMapper">

	<select id="cnsltList" resultType="egovMap">
  		select
			cmpy_seq,
		    cmpy_name,
		    FN_CODE_NAME(TYPE_CODE, 'PK') AS cmpy_type_name
		from CMPY_TB
		where CMPY_CODE = '0000'
		and STATE != 'D'
		order by cmpy_name asc;
	</select>
	
	<select id="drctCstmrList" resultType="egovMap">
  		select
			cmpy_seq,
		    cmpy_name
		from CMPY_TB
		where CMPY_CODE = '1000'
		and STATE != 'D'
		order by cmpy_name asc;
	</select>
	
	<select id="drctList" parameterType="int" resultType="egovMap">
		SELECT
		    c.CMPY_SEQ,
		    c.CMPY_NAME
		FROM CMPY_RELATION_TB r
		INNER JOIN CMPY_TB c ON r.CHILD_CMPY_SEQ = c.CMPY_SEQ
		WHERE r.PARENT_CMPY_SEQ = #{cmpySeq}
		  AND r.STATE != 'D'
		  AND c.STATE != 'D'
		  AND c.CMPY_CODE = '1000'
		ORDER BY c.CMPY_NAME ASC;
	</select>
	
	<select id="cmpyDetail" parameterType="int" resultType="cmpy">
  		SELECT
			CMPY_SEQ,
		    CMPY_NAME,
		    CMPNY_IDNTF,
		    BSNS_RGNMB,
		    CRPRT_RGNMB,
		    RPRSN,
		    RSDNT_RGNMB,
		    CMPY_PHONE,
		    ADDR,
            ENG_ADDR
		FROM CMPY_TB
		WHERE CMPY_SEQ = #{cmpySeq}
		;
	</select>

	<select id="cmpyMngList" resultType="egovMap">
		-- ▶ 내 회사의 담당자 정보 조회
		SELECT
		    <if test="prtnYn == 0">'고객사' AS CMPY_TYPE_NAME,  -- 내 회사 유형</if>
		    m.CMPY_MNG_SEQ,
		    m.CMPY_SEQ,
		    m.NAME,
		    FN_GET_PHONE_FORMAT(IFNULL(m.PHONE, '')) AS PHONE,
		    FN_GET_PHONE_FORMAT(IFNULL(m.TEL, ''))   AS TEL,
		    FN_GET_PHONE_FORMAT(IFNULL(m.FAX, ''))   AS FAX,
		    m.EMAIL
		FROM CMPY_TB c
		
			INNER JOIN CMPY_MNG_TB m 
			    ON m.CMPY_SEQ = c.CMPY_SEQ AND m.STATE != 'D'
			    
			WHERE c.CMPY_SEQ = #{cmpySeq}
			  AND c.STATE != 'D'
		
		<if test="prtnYn == 0">
		UNION ALL
		
		-- ▶ 상위 회사의 담당자 정보 조회
		SELECT
		    FN_CODE_NAME(p.TYPE_CODE, 'PK') AS CMPY_TYPE_NAME,  -- 상위회사 유형
		    m.CMPY_MNG_SEQ,
		    m.CMPY_SEQ,
		    m.NAME,
		    FN_GET_PHONE_FORMAT(IFNULL(m.PHONE, '')) AS PHONE,
		    FN_GET_PHONE_FORMAT(IFNULL(m.TEL, ''))   AS TEL,
		    FN_GET_PHONE_FORMAT(IFNULL(m.FAX, ''))   AS FAX,
		    m.EMAIL
		FROM CMPY_RELATION_TB r
		
			INNER JOIN CMPY_TB p
			    ON r.PARENT_CMPY_SEQ = p.CMPY_SEQ
			    AND p.STATE != 'D'
			
			INNER JOIN CMPY_MNG_TB m
			    ON m.CMPY_SEQ = p.CMPY_SEQ
			    AND p.STATE != 'D'
		
		WHERE r.PARENT_CMPY_SEQ = #{prtnSeq}
		  AND r.STATE != 'D'
		</if>
	</select>

	<select id="comcodeSearchList" parameterType="String" resultType="egovMap">
		SELECT 
			TOP_CD,
            IFNULL ((SELECT sub.TYPE_NAME FROM COMCODE_TB sub WHERE sub.TOP_CD = '00' AND sub.TYPE_CD = COMCODE_TB.TOP_CD), '최상위코드') TOP_NAME,
			TYPE_CD,
			TYPE_NAME
		FROM COMCODE_TB
		WHERE 1=1
        AND TYPE_NAME LIKE CONCAT ('%',#{code},'%')
        ORDER BY TOP_CD
	</select>
	
	<select id="comcodeList" parameterType="String" resultType="egovMap">
		SELECT 
			type_cd,
			type_name,
			memo
		FROM COMCODE_TB
		WHERE use_yn = 1
		AND top_cd = #{code}
		ORDER BY DIS_ORDR, COMCODE_SEQ;
	</select>
	
	<select id="deptList" resultType="egovMap">
		select 
			dept_seq
			, name
		from DEPT_TB
		where 1=1
		and state != 'D'
		and TEST_YN = 1
		order by oder
	</select>
	
	<select id="revMemList" parameterType="int" resultType="egovMap">
		select 
			id
			, mem_name
		from MEMBER_TB
		where 1=1
		and state != 'D'
		and REV_YN = 1
		and work_state = '1'
		and dept_seq = #{deptSeq};
	</select>
	
	<select id="deptMemList" parameterType="int" resultType="egovMap">
		SELECT
			MEMBER_SEQ, 
			ID,
			MEM_NAME
		FROM MEMBER_TB
		WHERE 1=1
		AND STATE != 'D'
		/*and REV_YN = 1*/
		AND WORK_STATE = '1'
		AND DEPT_SEQ = #{deptSeq};
	</select>
	
	<update id="jobStateUpdate" parameterType="job">
		UPDATE JOB_TB
		SET
			STATE_CODE = #{stateCode},
			STATE_UDT_DT = NOW()
		WHERE JOB_SEQ = #{jobSeq}
	</update>

	<update id="updateJobMng" parameterType="job">
		UPDATE JOB_TB
		SET
			MNG_ID = #{mngId},
			UDT_DT = NOW()
		WHERE JOB_SEQ = #{jobSeq}
	</update>
		
	<insert id="insertJobMng" parameterType="jobMngr" >
		INSERT INTO JOB_MNGR_TB
		(
			JOB_SEQ,
			MNG_ID,
			MEMO,
			INS_MEM_ID,
			UDT_MEM_ID
		)
		VALUES
		(
			#{jobSeq},
			#{mngId},
			#{memo},
			#{insMemId},
			#{udtMemId}
		)
	</insert>
	
	<select id="jobMngList" parameterType="int" resultType="egovMap">
		SELECT
			DATE_FORMAT(JOB_MNGR_TB.INS_DT, '%Y-%m-%d') instDtStr,
			
			FN_DEPT_NAME(JOB_MNGR_TB.MNG_ID) memPos,
			MEMBER_TB.MEM_NAME memName,
			
			FN_DEPT_NAME(JOB_MNGR_TB.INS_MEM_ID) insPos,
		    ins.MEM_NAME insName,
		    IFNULL (memo, '') MEMO
		    
		FROM JOB_MNGR_TB
		
			INNER JOIN MEMBER_TB
			ON JOB_MNGR_TB.MNG_ID = MEMBER_TB.ID
			
			INNER JOIN MEMBER_TB ins
			ON JOB_MNGR_TB.INS_MEM_ID = ins.ID
		
		WHERE 1=1
		AND JOB_MNGR_TB.JOB_SEQ = #{jobSeq}
		ORDER BY JOB_MNGR_SEQ DESC
	</select>
	
	<select id="memList" resultType="egovMap">
		SELECT 
			ID
			, MEM_NAME
			, PHONE
			, CONCAT(EMAIL, '@standardbank.co.kr') EMAIL
		FROM MEMBER_TB
		WHERE 1=1
		AND STATE != 'D'
		AND WORK_STATE = '1' /* 재직 */
        AND LOCK_YN = 0 /* 계정활성 */
        ORDER BY MEM_NAME
	</select>

	<select id="mngList" resultType="egovMap">
		SELECT 
			ID
			, MEM_NAME
			, PHONE
			, CONCAT(EMAIL, '@standardbank.co.kr') EMAIL
		FROM MEMBER_TB
		WHERE 1=1
		AND STATE != 'D'
		AND WORK_STATE = '1' /* 재직 */
		AND MNG_YN = 1 	/* 업무담당자여부 */
        AND LOCK_YN = 0 /* 계정활성 */
        ORDER BY MEM_NAME
	</select>
		
</mapper>