<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.cmm.service.FileMapper">

	<resultMap id="fileList" type="fileVO">
		<result property="atchFileId" column="ATCH_FILE_ID" />
		<result property="fileCn" column="FILE_CN" />
		<result property="fileMemo" column="FILE_MEMO" />
		<result property="fileExtsn" column="FILE_EXTSN" />
		<result property="fileMg" column="FILE_SIZE" />
		<result property="fileSn" column="FILE_SN" />
		<result property="fileStreCours" column="FILE_STRE_COURS" />
		<result property="orignlFileNm" column="ORIGNL_FILE_NM" />
		<result property="streFileNm" column="STRE_FILE_NM" />
		<result property="creatDt" column="CREAT_DT" />			
		<result property="fileOrdr" column="FILE_ORDR" />
	</resultMap>

	<resultMap id="fileDetail" type="fileVO">
		<result property="atchFileId" column="ATCH_FILE_ID" />
		<result property="fileCn" column="FILE_CN" />
		<result property="fileExtsn" column="FILE_EXTSN" />
		<result property="fileMg" column="FILE_SIZE" />
		<result property="fileSn" column="FILE_SN" />
		<result property="fileStreCours" column="FILE_STRE_COURS" />
		<result property="orignlFileNm" column="ORIGNL_FILE_NM" />
		<result property="streFileNm" column="STRE_FILE_NM" />
	</resultMap>	


 	<select id="selectFileList" parameterType="fileVO" resultMap="fileList" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_CN, b.FILE_MEMO, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT, b.FILE_ORDR
			FROM
				FILE_TB a, FILE_DETAIL_TB b
			WHERE
				a.ATCH_FILE_ID = #{atchFileId}
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND 
				a.USE_AT = 'Y'
			AND b.STATE != 'D'			
			ORDER BY b.FILE_SN	
 		]]>
 	</select>
 	
 	<select id="selectFileOrdrList" parameterType="fileVO" resultMap="fileList" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_CN, b.FILE_MEMO, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT, b.FILE_ORDR
			FROM
				FILE_TB a, FILE_DETAIL_TB b
			WHERE
				a.ATCH_FILE_ID = #{atchFileId}
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND 
				a.USE_AT = 'Y'
			AND b.STATE != 'D'			
			ORDER BY b.FILE_ORDR	
 		]]>
 	</select>
 	
	<insert id="insertFileMaster" parameterType="fileVO" >
		<![CDATA[
			INSERT INTO FILE_TB
			(ATCH_FILE_ID, CREAT_DT, USE_AT)
			VALUES
			( #{atchFileId}, SYSDATE(), 'Y')			
		]]>
	</insert>
	
	<insert id="insertFileDetail" parameterType="fileVO" >
		<![CDATA[
			INSERT INTO FILE_DETAIL_TB
			( ATCH_FILE_ID, FILE_SN, FILE_STRE_COURS, STRE_FILE_NM, 
			  ORIGNL_FILE_NM, FILE_EXTSN, FILE_SIZE, FILE_CN, FILE_MEMO, FILE_ORDR )
			VALUES
			( #{atchFileId}, #{fileSn}, #{fileStreCours}, #{streFileNm}, 
			  #{orignlFileNm}, #{fileExtsn}, #{fileMg}, #{fileCn}, #{fileMemo}, #{fileOrdr} )			
		]]>
	</insert>	
	
	<update id="updateFileDetail" parameterType="fileVO" >
			UPDATE FILE_DETAIL_TB
    <set>
        <if test="fileCn != null">
		<![CDATA[
            FILE_CN = #{fileCn},
		]]>
        </if>
        <if test="fileOrdr != null">
            FILE_ORDR = #{fileOrdr},
        </if>
    </set>
			WHERE ATCH_FILE_ID = #{atchFileId}
			AND FILE_SN = #{fileSn}
	</update>
	
	<delete id="deleteFileDetail" parameterType="fileVO" >
		<![CDATA[
			UPDATE FILE_DETAIL_TB
			SET STATE = 'D'
			WHERE
				ATCH_FILE_ID = #{atchFileId}
			AND	
				FILE_SN = #{fileSn}			
		]]>	
	</delete>
 	
	<select id="getMaxFileSN" parameterType="fileVO" resultType="int">
		<![CDATA[
			SELECT IFNULL(MAX(FILE_SN),0)+1 AS FILE_SN
			FROM FILE_DETAIL_TB
			WHERE ATCH_FILE_ID =  #{atchFileId}		
		]]>
	</select>

 	<select id="selectFileInf" parameterType="fileVO" resultMap="fileDetail" >
 		<![CDATA[
			SELECT 
				ATCH_FILE_ID, FILE_CN, FILE_SN, FILE_STRE_COURS, STRE_FILE_NM,
				FILE_EXTSN, ORIGNL_FILE_NM, FILE_SIZE
			FROM
				FILE_DETAIL_TB
			WHERE
				ATCH_FILE_ID = #{atchFileId}
			AND 
				FILE_SN = #{fileSn}	
 		]]>
 	</select>

	<update id="deleteCOMTNFILE" parameterType="fileVO" >
		<![CDATA[
			UPDATE FILE_TB
			SET USE_AT = 'N'
			WHERE ATCH_FILE_ID = #{atchFileId}
		]]>
	</update>


	<delete id="deletePicAll" parameterType="fileVO" >
		DELETE FROM FILE_DETAIL_TB
		WHERE ATCH_FILE_ID = #{atchFileId}
		<if test="orignlFileNm != ''"> 		
		AND ORIGNL_FILE_NM != ''
		</if>
		<if test="orignlFileNm == ''"> 		
		AND ORIGNL_FILE_NM = ''
		</if>
	</delete>
	
	
 	<select id="selectFileListByFileNm" parameterType="fileVO" resultMap="fileList" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_CN, b.FILE_MEMO, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT
			FROM
				FILE_TB a, FILE_DETAIL_TB b
			WHERE
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND 
				a.USE_AT = 'Y'
			AND b.STATE != 'D'
 		]]>
<!-- 			<isEqual prepend="AND" property="searchCnd" compareValue="streFileNm"> -->
<!-- 				<![CDATA[	b.STRE_FILE_NM LIKE CONCAT ('%', #{searchWrd},'%') 		]]> -->
<!-- 			</isEqual> -->
<!-- 			<isEqual prepend="AND" property="searchCnd" compareValue="orignlFileNm"> -->
<!-- 				<![CDATA[	b.ORIGNL_FILE_NM LIKE CONCAT ('%', #{searchWrd},'%') 		]]> -->
<!-- 			</isEqual>	 -->
		<![CDATA[			
			ORDER BY a.ATCH_FILE_ID, b.FILE_SN	
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		]]>		 		
 	</select>

 	<select id="selectFileListCntByFileNm" parameterType="fileVO" resultType="int" >
 		<![CDATA[
			SELECT 
				COUNT(a.ATCH_FILE_ID)
			FROM
				FILE_TB a, FILE_DETAIL_TB b
			WHERE
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND 
				a.USE_AT = 'Y'		
			AND b.STATE != 'D'		
 		]]>
<!-- 			<isEqual prepend="AND" property="searchCnd" compareValue="streFileNm"> -->
<!-- 				<![CDATA[	b.STRE_FILE_NM LIKE CONCAT ('%', #{searchWrd},'%') 		]]> -->
<!-- 			</isEqual> -->
<!-- 			<isEqual prepend="AND" property="searchCnd" compareValue="orignlFileNm"> -->
<!-- 				<![CDATA[	b.ORIGNL_FILE_NM LIKE CONCAT ('%', #{searchWrd},'%') 		]]> -->
<!-- 			</isEqual>	 		 -->
 	</select>
 	
  	<select id="selectImageFileList" parameterType="fileVO" resultMap="fileList" >
 		<![CDATA[
			SELECT 
				a.ATCH_FILE_ID, b.FILE_CN, b.FILE_MEMO, b.FILE_SN, b.FILE_STRE_COURS, b.STRE_FILE_NM,
				b.FILE_EXTSN, b.ORIGNL_FILE_NM, b.FILE_SIZE, a.CREAT_DT, b.FILE_ORDR
			FROM
				FILE_TB a, FILE_DETAIL_TB b
			WHERE
				a.ATCH_FILE_ID = #{atchFileId}
			AND 
				a.ATCH_FILE_ID = b.ATCH_FILE_ID
			AND
				UPPER(b.FILE_EXTSN) IN ('GIF','JPG','JPEG','BMP','PNG')
			AND 
				a.USE_AT = 'Y'	
			AND b.STATE != 'D'			
			ORDER BY b.FILE_SN	
 		]]>
 	</select>	
 	
</mapper>
