<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.cmm.service.LoginMapper">

	<!-- 로그인 처리를 위한 resultMap -->
	<resultMap id="login" type="loginVO">
		<result property="id" column="id"/>
<!-- 		<result property="name" column="name"/> -->
<!-- 		<result property="ihidNum" column="ihidNum"/> -->
		<result property="empName" column="memName"/>
		<result property="deptName" column="deptName"/>
		<result property="position" column="position"/>
		<result property="lastLoginDt" column="lastLoginDt"/>
		<result property="lockYn" column="lockYn"/>
		<result property="failPassCnt" column="failPassCnt"/>
		<result property="authCode" column="authCode"/>		
	</resultMap>
	
	<!-- 일반 로그인 -->
	<select id="actionLogin" resultMap="login">
			<![CDATA[
            SELECT ID id
                 , MEM_NAME memName
                 , FN_DEPT_NAME(ID) deptName
                 , FN_POS_NAME(ID) position
                 , DATE_FORMAT(LAST_LOGIN_DT, '%Y-%m-%d %T') lastLoginDt
                 , LOCK_YN lockYn
                 , AUTH_CODE authCode
              FROM MEMBER_TB
             WHERE 1=1
               AND ID = #{id}
               AND PASSWORD = #{password}
			]]>
	</select>
	
	<!-- 로그인 정보 저장 -->
	<update id="updateLogin" >
		UPDATE MEMBER_TB
		SET LAST_IP = #{lastIp}
			, LAST_LOGIN_DT = NOW() 
			, FAIL_PASS_CNT = 0
		WHERE 1=1
		AND ID = #{id}
	</update>
	
	<!-- 로그인 실패 횟수 저장 -->
	<update id="updateLoginFailCnt" >
		UPDATE MEMBER_TB
		SET FAIL_PASS_CNT = FAIL_PASS_CNT+1
		WHERE 1=1
		AND ID = #{id}
	</update>
	
	<!-- 비밀번호 실패 횟수 조회 -->
	<select id="selectLoginFailCnt" resultMap="login">
       SELECT FAIL_PASS_CNT failPassCnt
      	, LOCK_YN lockYn
         FROM MEMBER_TB
        WHERE ID = #{id}
	</select>
	
	<!-- 계정잠금 -->
	<update id="lockLogin" >
		UPDATE MEMBER_TB
		SET LOCK_YN = 1
		WHERE 1=1
		AND ID = #{id}
	</update>

	<!-- 계정잠금 해제 -->
	<update id="clearLock" >
		UPDATE MEMBER_TB
		SET LOCK_YN = 0
		, FAIL_PASS_CNT = 0
		, PASSWORD = #{password}
		WHERE 1=1
		AND ID = #{id}
	</update>
	
	<!-- 메뉴별 권한 얻기 -->
	<select id="getAuthList" parameterType="String" resultType="egovMap">
		select
			menu_seq,
			menu_name,
			${authCode}_r_yn rYn,
			${authCode}_w_yn wYn
		from POWER_TB
		where 1=1
		AND STATE != 'D'
		order by DIS_ORDR asc
	</select>

</mapper>
