<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.leg.service.LegMapper">

	<select id="selectListCnt" parameterType="comParam" resultType="int">
		select
			count(1)
		FROM
		    SBK_TB
		        
		        INNER JOIN JOB_TB ON SBK_TB.SBK_YM = JOB_TB.SBK_YM
		        AND SBK_TB.TYPE = JOB_TB.SBK_TYPE
		        AND SBK_TB.SBK_SEQ = JOB_TB.SBK_SEQ
		        AND SBK_TB.REVISION = JOB_TB.SBK_REVISION
		        AND JOB_TB.STATE != 'D'
		        
		        LEFT JOIN TEST_ITEM_TB ON JOB_TB.QUO_YM = TEST_ITEM_TB.QUO_YM
		        AND JOB_TB.QUO_SEQ = TEST_ITEM_TB.QUO_SEQ
		        AND TEST_ITEM_TB.STATE != 'D'

		        LEFT JOIN TEST_TB ON TEST_TB.TEST_ITEM_SEQ = TEST_ITEM_TB.TEST_ITEM_SEQ
		        
		        LEFT JOIN RAW_TB ON TEST_TB.TEST_SEQ = RAW_TB.TEST_SEQ
		        
		        LEFT JOIN TEST_STNDR_TB ON TEST_ITEM_TB.TEST_STNDR_SEQ = TEST_STNDR_TB.TEST_STNDR_SEQ
		        
		        /* 시료정보 - 총 갯수, 반입 반출의 최신 SEQ */
		        LEFT JOIN IM_TOTAL_V ON CONCAT ('SB', SBK_TB.SBK_YM, '-', SBK_TB.TYPE, LPAD(SBK_TB.SBK_SEQ,4,0), IF(REVISION > 0, CONCAT ('-',REVISION), '')) = IM_TOTAL_V.SBK_ID
				
                /* 반입 반출의 최신 정보 */
		        LEFT JOIN IM_SUB_TB in_sub ON in_sub.IM_SUB_SEQ = IM_TOTAL_V.IN_SUB_SEQ AND CONCAT ('IM', IM_YM, '-', 'G', LPAD(IM_SEQ,4,0)) = in_sub.IM_ID 
				LEFT JOIN IM_SUB_TB out_sub ON out_sub.IM_SUB_SEQ = IM_TOTAL_V.OUT_SUB_SEQ AND CONCAT ('IM', IM_YM, '-', 'G', LPAD(IM_SEQ,4,0)) = out_sub.IM_ID
				
		WHERE
		    1 = 1
		# 재발행 신청서 제외
		AND SBK_TB.REVISION = 0
        <if test="searchVO != null">
	        <foreach collection="searchVO" item="item" separator="">
	       
	        	<choose>
					<!-- 15	작성일 -->
					<when test="item.searchCode == 15">AND DATE_FORMAT(SBK_TB.INS_DT, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
			        <!-- 54	시료반출일 -->
			        <when test="item.searchCode == 54">AND DATE_FORMAT(out_sub.CARRY_OUT_DATE, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
			        <!-- 21	시료반입일 -->
			        <when test="item.searchCode == 21">AND DATE_FORMAT(in_sub.CARRY_IN_DATE, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
					<!-- 12	회사명 -->
					<when test="item.searchCode == 12">AND IFNULL(JOB_TB.CMPY_NAME, '') like concat('%',#{item.searchWord},'%')</when>
					<!-- 6	제품명 -->
					<when test="item.searchCode ==  6">AND IFNULL(JOB_TB.PRDCT_NAME, '') like concat('%',#{item.searchWord},'%')</when>
					<!-- 27	모델명 -->
		        	<when test="item.searchCode == 27">AND IFNULL(JOB_TB.MODEL_NAME, '') like concat('%',#{item.searchWord},'%')</when>
		        	<!-- 40	시험규격 -->
        			<when test="item.searchCode == 40">AND TEST_STNDR_TB.TEST_STNDR like CONCAT('%',#{item.searchWord},'%')</when>
        			
	        		<!-- 18	시험배정일 -->
	        		<when test="item.searchCode == 18">AND DATE_FORMAT(TEST_TB.INS_DT, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
	        		<!-- 66 신청서타입 -->
	        		<when test="item.searchCode == 66 and item.searchWord != ''">AND SBK_TB.TYPE = #{item.searchWord}</when>
	        		<!-- 65	성적서구분 -->
	        		<when test="item.searchCode == 65">
	        			<choose>
                            <when test="item.searchWord == 'K'.toString()">AND TEST_RPRT_K_YN = 1</when>
                            <when test="item.searchWord == 'N'.toString()">AND TEST_RPRT_N_YN = 1</when>
	        			</choose>
	        		</when>
	        		<!-- 63	시료반입상태 -->
	        		<when test="item.searchCode == 63">AND 
						CASE 
							WHEN IF (TEST_PLACE_OUT_YN=1,'현장시험',IFNULL (DATE_FORMAT(in_sub.CARRY_IN_DATE, '%Y-%m-%d'),'-')) = '현장시험' THEN '3' 
							WHEN ISNULL(in_sub.CARRY_IN_DATE) THEN '1' 
							ELSE '2' END = #{item.searchWord}
					</when>
	        		<!-- 67	시료반출상태 -->
					<when test="item.searchCode == 67">AND 
						CASE 
							WHEN ISNULL(out_sub.CARRY_OUT_DATE) THEN '1' 
							ELSE '2' END = #{item.searchWord}
					</when>
	        		<!-- 61	신청서번호 -->
	        		<when test="item.searchCode == 61">AND CONCAT ('SB', SBK_TB.SBK_YM, '-' , SBK_TB.TYPE, LPAD(SBK_TB.SBK_SEQ,4,0), IF(REVISION > 0, CONCAT ('-',SBK_TB.REVISION), '')) LIKE CONCAT ('%',#{item.searchWord},'%')</when>
	        		<!-- 50	시험번호 -->
	        		<when test="item.searchCode == 50">AND CONCAT ('SB', JOB_TB.SBK_YM, '-' , JOB_TB.SBK_TYPE, LPAD(JOB_TB.SBK_SEQ,4,0),
												    			'-', IF (TEST_TB.TEST_TYPE_CODE = 'NS', 'SF', TEST_TB.TEST_TYPE_CODE), LPAD(TEST_TB.TEST_NO,4,0),
												    			IF(JOB_TB.SBK_REVISION > 0, CONCAT ('-',JOB_TB.SBK_REVISION), '')) LIKE CONCAT('%',#{item.searchWord},'%')</when>
	        		<!-- 68	시료접수자 -->
        			<when test="item.searchCode == 68">AND FN_MEM_NAME(in_sub.CARRY_IN_ID) like CONCAT('%',#{item.searchWord},'%')</when>
				</choose>
	        </foreach>
        </if>
	</select>
	
	<select id="selectList" parameterType="comParam" resultType="egovMap">
		SELECT 
			@rownum:=@rownum+1 as no,
			lst.*
		FROM (
			SELECT
				
			    FN_GET_SEQSTRING('SB', SBK_TB.SBK_YM, SBK_TB.TYPE, SBK_TB.SBK_SEQ) sbkId,
			    DATE_FORMAT(SBK_TB.INS_DT, '%Y-%m-%d') RCPT_DT,
			    /* 현장시험일 경우에는 시료반입일에 현장시험 노출 */
			    IF (TEST_PLACE_OUT_YN=1,'현장시험',IFNULL (DATE_FORMAT(in_sub.CARRY_IN_DATE, '%Y-%m-%d'),'-')) CARRY_IN_DATE,
			    FN_MEM_NAME (in_sub.CARRY_IN_ID) CARRY_IN_NAME,
			    IFNULL (DATE_FORMAT(TEST_TB.INS_DT, '%Y-%m-%d'), '-') testDtStr,
			    IFNULL (CONCAT (FN_GET_SEQSTRING('SB', JOB_TB.SBK_YM, JOB_TB.SBK_TYPE, JOB_TB.SBK_SEQ),
			            '-', IF (TEST_TB.TEST_TYPE_CODE = 'NS', 'SF', TEST_TB.TEST_TYPE_CODE), LPAD(TEST_TB.TEST_NO,4,0)), '') testId,
			    IFNULL (JOB_TB.CMPY_NAME, '') cmpyName,
			    JOB_TB.PRDCT_NAME,
			    JOB_TB.MODEL_NAME,
			    IFNULL (cate1.NAME, '') crtfc1Name,
			    IFNULL (cate2.NAME, '') crtfc2Name,
			    IFNULL (cate3.NAME, '') crtfc3Name,
			    IFNULL (cate4.NAME, '') crtfc4Name,
			    IF (TEST_ITEM_TB.TEST_STNDR_SEQ=0, TEST_ITEM_TB.TEST_STNDR_TEXT, IFNULL (TEST_STNDR_TB.TEST_STNDR, '')) TEST_STNDR,
			    IFNULL (IM_TOTAL_V.IN_CNT, 0) inCnt,
			    IFNULL (IM_TOTAL_V.OUT_CNT, 0) outCnt,
			    IFNULL (DATE_FORMAT(out_sub.CARRY_OUT_DATE, '%Y-%m-%d'), '-') CARRY_OUT_DATE,
			    FN_MEM_NAME(out_sub.CARRY_OUT_ID) CARRY_OUT_NAME,
			    IFNULL (FN_CODE_NAME(out_sub.CARRY_OUT_CODE, 'TC'), '') CARRY_OUT_TYPE,
			    IFNULL (out_sub.CARRY_OUT_DLVRY_NAME, '') CARRY_OUT_DLVRY_NAME,
			    IFNULL (out_sub.CARRY_OUT_DLVRY_INVC, '') CARRY_OUT_DLVRY_INVC,
			    CONCAT_WS (', ', IF (TEST_RPRT_K_YN = 1, 'KOLAS', NULL), IF (TEST_RPRT_N_YN = 1, '일반', NULL)) TEST_RPRT,
			    IFNULL (DATE_FORMAT(TEST_TB.REPORT_DT, '%Y-%m-%d'), '-') REPORT_DT
			FROM
			    SBK_TB
			        
			        INNER JOIN JOB_TB ON SBK_TB.SBK_YM = JOB_TB.SBK_YM
			        AND SBK_TB.TYPE = JOB_TB.SBK_TYPE
			        AND SBK_TB.SBK_SEQ = JOB_TB.SBK_SEQ
			        AND SBK_TB.REVISION = JOB_TB.SBK_REVISION
			        AND JOB_TB.STATE != 'D'
			        
			        LEFT JOIN TEST_ITEM_TB ON JOB_TB.QUO_YM = TEST_ITEM_TB.QUO_YM
			        AND JOB_TB.QUO_SEQ = TEST_ITEM_TB.QUO_SEQ
			        AND TEST_ITEM_TB.STATE != 'D'

			        LEFT JOIN TEST_TB ON TEST_TB.TEST_ITEM_SEQ = TEST_ITEM_TB.TEST_ITEM_SEQ
			        
			        LEFT JOIN RAW_TB ON TEST_TB.TEST_SEQ = RAW_TB.TEST_SEQ
			        
			        LEFT JOIN TEST_STNDR_TB ON TEST_ITEM_TB.TEST_STNDR_SEQ = TEST_STNDR_TB.TEST_STNDR_SEQ
			        
			        /* #3 적용규격 왼쪽에 [인증종류1]정보로 열 추가 해주세요 */
			        LEFT JOIN TEST_CATE_TB cate4 ON TEST_ITEM_TB.CRTF_TYPE_SEQ = cate4.TEST_CATE_SEQ
				    LEFT JOIN TEST_CATE_TB cate3 ON cate4.TOP_DEPTH_SEQ = cate3.TEST_CATE_SEQ
				    LEFT JOIN TEST_CATE_TB cate2 ON cate3.TOP_DEPTH_SEQ = cate2.TEST_CATE_SEQ
				    LEFT JOIN TEST_CATE_TB cate1 ON cate2.TOP_DEPTH_SEQ = cate1.TEST_CATE_SEQ
			        
			        /* 시료정보 - 총 갯수, 반입 반출의 최신 SEQ */
			        LEFT JOIN IM_TOTAL_V ON CONCAT ('SB', SBK_TB.SBK_YM, '-', SBK_TB.TYPE, LPAD(SBK_TB.SBK_SEQ,4,0), IF(REVISION > 0, CONCAT ('-',REVISION), '')) = IM_TOTAL_V.SBK_ID
					
                    /* 반입 반출의 최신 정보 */
			        LEFT JOIN IM_SUB_TB in_sub ON in_sub.IM_SUB_SEQ = IM_TOTAL_V.IN_SUB_SEQ AND CONCAT ('IM', IM_YM, '-', 'G', LPAD(IM_SEQ,4,0)) = in_sub.IM_ID 
					LEFT JOIN IM_SUB_TB out_sub ON out_sub.IM_SUB_SEQ = IM_TOTAL_V.OUT_SUB_SEQ AND CONCAT ('IM', IM_YM, '-', 'G', LPAD(IM_SEQ,4,0)) = out_sub.IM_ID
					
					INNER JOIN (SELECT @rownum:=0) r

			WHERE
			    1 = 1
			# 재발행 신청서 제외
			AND SBK_TB.REVISION = 0
	        <if test="searchVO != null">
		        <foreach collection="searchVO" item="item" separator="">
		       
		        	<choose>
		        		<!-- 15	작성일 -->
						<when test="item.searchCode == 15">AND DATE_FORMAT(SBK_TB.INS_DT, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
				        <!-- 54	시료반출일 -->
				        <when test="item.searchCode == 54">AND DATE_FORMAT(out_sub.CARRY_OUT_DATE, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
				        <!-- 21	시료반입일 -->
				        <when test="item.searchCode == 21">AND DATE_FORMAT(in_sub.CARRY_IN_DATE, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
						<!-- 12	회사명 -->
						<when test="item.searchCode == 12">AND IFNULL(JOB_TB.CMPY_NAME, '') like concat('%',#{item.searchWord},'%')</when>
						<!-- 6	제품명 -->
						<when test="item.searchCode ==  6">AND IFNULL(JOB_TB.PRDCT_NAME, '') like concat('%',#{item.searchWord},'%')</when>
						<!-- 27	모델명 -->
			        	<when test="item.searchCode == 27">AND IFNULL(JOB_TB.MODEL_NAME, '') like concat('%',#{item.searchWord},'%')</when>
			        	<!-- 40	시험규격 -->
	        			<when test="item.searchCode == 40">AND TEST_STNDR_TB.TEST_STNDR like CONCAT('%',#{item.searchWord},'%')</when>
	        			
		        		<!-- 18	시험배정일 -->
		        		<when test="item.searchCode == 18">AND DATE_FORMAT(TEST_TB.INS_DT, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
		        		<!-- 66 신청서타입 -->
		        		<when test="item.searchCode == 66 and item.searchWord != ''">AND SBK_TB.TYPE = #{item.searchWord}</when>
		        		<!-- 65	성적서구분 -->
		        		<when test="item.searchCode == 65">
		        			<choose>
	                            <when test="item.searchWord == 'K'.toString()">AND TEST_RPRT_K_YN = 1</when>
	                            <when test="item.searchWord == 'N'.toString()">AND TEST_RPRT_N_YN = 1</when>
		        			</choose>
		        		</when>
		        		<!-- 63	시료반입상태 -->
		        		<when test="item.searchCode == 63">AND 
							CASE 
								WHEN IF (TEST_PLACE_OUT_YN=1,'현장시험',IFNULL (DATE_FORMAT(in_sub.CARRY_IN_DATE, '%Y-%m-%d'),'-')) = '현장시험' THEN '3' 
								WHEN ISNULL(in_sub.CARRY_IN_DATE) THEN '1' 
								ELSE '2' END = #{item.searchWord}
						</when>
		        		<!-- 67	시료반출상태 -->
						<when test="item.searchCode == 67">AND 
							CASE 
								WHEN ISNULL(out_sub.CARRY_OUT_DATE) THEN '1' 
								ELSE '2' END = #{item.searchWord}
						</when>
		        		<!-- 61	신청서번호 -->
		        		<when test="item.searchCode == 61">AND CONCAT ('SB', SBK_TB.SBK_YM, '-' , SBK_TB.TYPE, LPAD(SBK_TB.SBK_SEQ,4,0), IF(REVISION > 0, CONCAT ('-',SBK_TB.REVISION), '')) LIKE CONCAT ('%',#{item.searchWord},'%')</when>
		        		<!-- 50	시험번호 -->
		        		<when test="item.searchCode == 50">AND CONCAT ('SB', JOB_TB.SBK_YM, '-' , JOB_TB.SBK_TYPE, LPAD(JOB_TB.SBK_SEQ,4,0),
													    			'-', IF (TEST_TB.TEST_TYPE_CODE = 'NS', 'SF', TEST_TB.TEST_TYPE_CODE), LPAD(TEST_TB.TEST_NO,4,0),
													    			IF(JOB_TB.SBK_REVISION > 0, CONCAT ('-',JOB_TB.SBK_REVISION), '')) LIKE CONCAT('%',#{item.searchWord},'%')</when>
		        		<!-- 68	시료접수자 -->
	        			<when test="item.searchCode == 68">AND FN_MEM_NAME(in_sub.CARRY_IN_ID) like CONCAT('%',#{item.searchWord},'%')</when>
		        	</choose>
		        	
		        </foreach>
	        </if>
	        
	        ORDER BY SBK_TB.INS_DT ASC, TEST_TB.INS_DT ASC
	    ) lst
	    
	    order by no asc
		LIMIT #{pageUnit} OFFSET #{firstIndex};
	</select>
		
</mapper>