<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.cnf.service.CmyMapper">

	<select id="selectListCnt" parameterType="comParam" resultType="int">
		SELECT
			count(1)
		FROM
			CMPY_TB
		WHERE
			1 = 1
		AND STATE != 'D'
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			       
			        	<choose>
			        		<!-- 00	협력사, 직접고객분류(내부처리) -->
			        		<when test="item.searchCode == 99">AND CMPY_CODE = #{item.searchWord}</when>
			        		<!-- 2	작성자 -->
							<when test="item.searchCode == 2">AND IFNULL(FN_MEM_NAME(CMPY_TB.UDT_MEM_ID), '') like concat('%',#{item.searchWord},'%')</when>
			        		<!-- 12	회사명 -->
			        		<when test="item.searchCode == 12">AND LOWER (CMPY_NAME) like concat('%',LOWER (#{item.searchWord}),'%')</when>
							<!-- 13	회사연락처 -->
							<when test="item.searchCode == 13">AND REPLACE(CMPY_PHONE,'-','') like concat('%',REPLACE(#{item.searchWord},'-',''),'%')</when>
							<!-- 41	회사종류 -->
							<when test="item.searchCode == 41">AND IFNULL(type_code,'9999') = #{item.searchWord}</when>
							<!-- 15	작성일 -->
			        		<when test="item.searchCode == 15">and date_format(CMPY_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
			        		<!-- 86	사업자번호 -->
							<when test="item.searchCode == 86">AND REPLACE(IFNULL(CMPY_TB.BSNS_RGNMB, ''), '-', '') LIKE CONCAT('%', REPLACE(#{item.searchWord}, '-', ''), '%')</when>
						</choose>
					</foreach>
				</if>
	</select>

	<select id="selectList" parameterType="comParam" resultType="cmpyDTO">
		    SELECT
		        c.CMPY_SEQ,
		        DATE_FORMAT(c.INS_DT, '%Y-%m-%d') AS insDtStr,
		        LPAD(c.CMPY_SEQ, 4, '0') AS cmpySeq, 
		        c.CMPY_NAME,
		        
		        IFNULL(FN_CODE_NAME(c.TYPE_CODE, 'PK'), '') AS partnerType,
		        IFNULL(FN_CODE_NAME(c.TYPE_CODE, 'ST'), '') AS directType,
		        IFNULL(FN_CODE_NAME(c.CNTRY_CODE, 'PC'), '') AS cntry,
		        FN_GET_PHONE_FORMAT(c.CMPY_PHONE) AS cmpy_phone,
		        IFNULL(c.MEMO, '-') AS memo,
		        IFNULL(FN_MEM_NAME(c.UDT_MEM_ID), '') AS ins_name,
		        IFNULL(c.BSNS_RGNMB, '') AS BSNS_RGNMB,
		        
		        -- 상위 회사 정보 추가
				IFNULL(
					GROUP_CONCAT(
						DISTINCT CONCAT('[', IFNULL(m.TYPE_NAME, ''), '] ', p.CMPY_NAME)
						SEPARATOR ', '
					),
					''
				) AS prntCmpyName
		
		    FROM
		        CMPY_TB c
		        
                LEFT JOIN CMPY_RELATION_TB r 
					ON c.CMPY_SEQ = r.CHILD_CMPY_SEQ AND r.STATE != 'D'
        
		        LEFT JOIN CMPY_TB p 
		            ON r.PARENT_CMPY_SEQ = p.CMPY_SEQ
		            
		        LEFT JOIN COMCODE_TB m
					ON m.type_cd = p.TYPE_CODE AND m.top_cd = 'PK'
		
		    WHERE
		        c.STATE != 'D'
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			       
			        	<choose>
			        		<!-- 00	협력사, 직접고객분류(내부처리) -->
			        		<when test="item.searchCode == 99">AND c.CMPY_CODE = #{item.searchWord}</when>
			        		<!-- 2	작성자 -->
							<when test="item.searchCode == 2">AND IFNULL(FN_MEM_NAME(c.UDT_MEM_ID), '') LIKE CONCAT('%',#{item.searchWord},'%')</when>
			        		<!-- 12	회사명 -->
			        		<when test="item.searchCode == 12">AND LOWER(c.CMPY_NAME) LIKE CONCAT('%',LOWER (#{item.searchWord}),'%')</when>
							<!-- 13	회사연락처 -->
							<when test="item.searchCode == 13">AND REPLACE(c.CMPY_PHONE,'-','') like CONCAT('%',REPLACE(#{item.searchWord},'-',''),'%')</when>
							<!-- 41	회사종류 -->
							<when test="item.searchCode == 41">AND IFNULL(c.TYPE_CODE,'9999') = #{item.searchWord}</when>
							<!-- 15	작성일 -->
			        		<when test="item.searchCode == 15">AND DATE_FORMAT(c.ins_dt, '%Y%m%d') BETWEEN DATE_FORMAT(#{item.startDate}, '%Y%m%d') AND DATE_FORMAT(#{item.endDate}, '%Y%m%d')</when>
			        		<!-- 86	사업자번호 -->
							<when test="item.searchCode == 86">AND REPLACE(IFNULL(c.BSNS_RGNMB, ''), '-', '') LIKE CONCAT('%', REPLACE(#{item.searchWord}, '-', ''), '%')</when>
						</choose>
					</foreach>
				</if>
				
			GROUP BY c.CMPY_SEQ
				
			ORDER BY
		        c.CMPY_SEQ DESC
		        
			LIMIT #{pageUnit} OFFSET #{firstIndex};
	</select>
	
	<insert id="insert" parameterType="cmpyDTO">
	    <selectKey resultType="int" keyProperty="cmpySeq" order="AFTER">
	        SELECT IF(#{cmpySeq}=0, MAX(CMPY_SEQ), #{cmpySeq}) cmpySeq FROM CMPY_TB WHERE CMPY_CODE = #{cmpyCode}
	    </selectKey>
	    INSERT INTO CMPY_TB
	    (
			CMPY_SEQ,
			CMPY_CODE,
			CMPY_NAME,
			ENG_NAME,
			TYPE_CODE,
			APPL_TYPE,
			CMPY_PHONE,
			CMPY_FAX,
			CMPNY_IDNTF,
			ETC_ID,
			BSNS_RGNMB,
			CRPRT_RGNMB,
			CNTRY_CODE,
			HOMEPAGE,
			RPRSN,
			RPRSN_SIGN,
			ENG_RPRSN,
			RSDNT_RGNMB,
			ADDR,
			ENG_ADDR,
			MEMO,
			ATCH_FILE_ID,
			INS_MEM_ID,
			UDT_MEM_ID
	    )
	    VALUES
		(
	        IF(#{cmpySeq}=0,(SELECT IFNULL(MAX(seq.CMPY_SEQ)+1,1) cmpySeq FROM CMPY_TB seq WHERE CMPY_CODE = #{cmpyCode}), #{cmpySeq}),
	        #{cmpyCode},
	        TRIM(#{cmpyName}),
	        #{engName},
	        #{typeCode},
	        #{applType},
	        #{cmpyPhone},
	        #{cmpyFax},
	        #{cmpnyIdntf},
	        #{etcId},
	        #{bsnsRgnmb},
	        #{crprtRgnmb},
	        #{cntryCode},
	        #{homepage},
	        #{rprsn},
	        #{rprsnSign},
	        #{engRprsn},
	        #{rsdntRgnmb},
	        #{addr},
	        #{engAddr},
	        #{memo},
	        #{atchFileId},
	        #{insMemId},
	        #{udtMemId}
		)
		ON DUPLICATE KEY UPDATE
			CMPY_NAME = TRIM(#{cmpyName}),
	        ENG_NAME = #{engName},
	        TYPE_CODE = #{typeCode},
	        APPL_TYPE = #{applType},
	        CMPY_PHONE = #{cmpyPhone},
	        CMPY_FAX = #{cmpyFax},
	        CMPNY_IDNTF = #{cmpnyIdntf},
	        ETC_ID = #{etcId},
	        BSNS_RGNMB = #{bsnsRgnmb},
	        CRPRT_RGNMB = #{crprtRgnmb},
	        CNTRY_CODE = #{cntryCode},
	        HOMEPAGE = #{homepage},
	        RPRSN = #{rprsn},
	        RPRSN_SIGN = IF(#{rprsnSign} = '', '', IF(#{rprsnSign} IS NULL, RPRSN_SIGN, #{rprsnSign})),
	        ENG_RPRSN = #{engRprsn},
	        RSDNT_RGNMB = #{rsdntRgnmb},
	        ADDR = #{addr},
	        ENG_ADDR = #{engAddr},
	        MEMO = #{memo},
	        ATCH_FILE_ID = #{atchFileId},
	        UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW(),
	        STATE = 'U'
	</insert>
	
	<update id="delete">
		UPDATE CMPY_TB
		SET
			STATE = 'D',
			UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW()
		WHERE CMPY_SEQ = #{cmpySeq}
	</update>
	
	<insert id="insertMng">
		INSERT INTO CMPY_MNG_TB
		(
			CMPY_SEQ,
			NAME,
			PHONE,
			FAX,
			TEL,
			EMAIL,
			DEPT,
			LEVEL,
			MEMO,
			SIGN_URL,
			INS_MEM_ID
		)
		VALUES
		<foreach collection="mngList" item="item" separator=",">
		(
			#{cmpySeq},
			#{item.name},
			#{item.phone},
			#{item.fax},
			#{item.tel},
			#{item.email},
			#{item.dept},
			#{item.level},
			#{item.memo},
			#{item.signUrl},
			#{item.insMemId}
		)
		</foreach>
	</insert>
	
	<update id="updateMng">
		<foreach collection="mngList" item="item" separator=";">
		UPDATE CMPY_MNG_TB
		SET
			NAME = #{item.name},
			PHONE = #{item.phone},
			FAX = #{item.fax},
			TEL = #{item.tel},
			EMAIL = #{item.email},
			DEPT = #{item.dept},
			LEVEL = #{item.level},
			MEMO = #{item.memo},
			STATE = #{item.state},
			SIGN_URL = IF(#{item.orignlFileNm} = '', '', IF(#{item.signUrl} IS NULL, SIGN_URL, #{item.signUrl})),
			UDT_MEM_ID = #{item.udtMemId}
		WHERE CMPY_MNG_SEQ = #{item.cmpyMngSeq}
		</foreach>
	</update>
	
	<update id="deleteMng">
		<foreach collection="mngList" item="item" separator=";">
		UPDATE CMPY_MNG_TB
		SET
			STATE = #{item.state}
		WHERE CMPY_MNG_SEQ = #{item.cmpyMngSeq}
		</foreach>
	</update>
	
	<select id="selectMngList" parameterType="int" resultType="cmpyMng">
		SELECT 
			CMPY_MNG_TB.CMPY_MNG_SEQ,
			CMPY_MNG_TB.NAME,
			CMPY_MNG_TB.PHONE,
			CMPY_MNG_TB.FAX,
			CMPY_MNG_TB.TEL,
			CMPY_MNG_TB.EMAIL,
			CMPY_MNG_TB.DEPT,
			CMPY_MNG_TB.LEVEL,
			CMPY_MNG_TB.MEMO,
            
            FILE_DETAIL_TB.ORIGNL_FILE_NM,
            CMPY_MNG_TB.SIGN_URL,
            DATE_FORMAT(CMPY_MNG_TB.INS_DT, '%y-%m-%d') instDtStr,
            IFNULL(MEMBER_TB.MEM_NAME, '') memName
            
		FROM CMPY_MNG_TB
			
            LEFT JOIN MEMBER_TB
			ON CMPY_MNG_TB.INS_MEM_ID = MEMBER_TB.ID
            
            LEFT JOIN FILE_DETAIL_TB 
            ON CMPY_MNG_TB.SIGN_URL = FILE_DETAIL_TB.ATCH_FILE_ID AND FILE_DETAIL_TB.STATE != 'D'
            
		WHERE 1=1
		AND CMPY_MNG_TB.STATE != 'D'
		AND CMPY_MNG_TB.CMPY_SEQ = #{cmpySeq}
	</select>
	
	
	<resultMap id="cmpyDetailResultMap" type="cmpyDTO">
	    <id     property="cmpySeq"     column="CMPY_SEQ" />
	    <result property="cmpyCode"    column="CMPY_CODE" />
	    <result property="cmpyName"    column="CMPY_NAME" />
	    <result property="engName"     column="ENG_NAME" />
	    <result property="typeCode"    column="TYPE_CODE" />
	    <result property="applType"    column="APPL_TYPE" />
	    <result property="cmpyPhone"   column="CMPY_PHONE" />
	    <result property="cmpyFax"     column="CMPY_FAX" />
	    <result property="cmpnyIdntf"  column="CMPNY_IDNTF" />
	    <result property="etcId"       column="ETC_ID" />
	    <result property="bsnsRgnmb"   column="BSNS_RGNMB" />
	    <result property="crprtRgnmb"  column="CRPRT_RGNMB" />
	    <result property="cntryCode"   column="CNTRY_CODE" />
	    <result property="homepage"    column="HOMEPAGE" />
	    <result property="rprsn"       column="RPRSN" />
	    <result property="rprsnSign"   column="RPRSN_SIGN" />
	    <result property="engRprsn"    column="ENG_RPRSN" />
	    <result property="rsdntRgnmb"  column="RSDNT_RGNMB" />
	    <result property="addr"        column="ADDR" />
	    <result property="engAddr"     column="ENG_ADDR" />
	    <result property="memo"        column="MEMO" />
	    <result property="atchFileId"  column="ATCH_FILE_ID" />
	    <result property="insMemId"    column="INS_MEM_ID" />
	    <result property="udtMemId"    column="UDT_MEM_ID" />
	    <result property="insName"     column="INS_NAME" />
	
	    <!-- 상위회사 정보 다건 조회 -->
	    <collection property="prntCmpyList" ofType="cmpyRelationDTO"
	                select="selectPrntCmpyList" column="CMPY_SEQ" />
	                
	    <!-- 하위회사 -->
	    <collection property="childCmpyList" ofType="cmpyRelationDTO"
            		select="selectChildCmpyList" column="CMPY_SEQ" />
	</resultMap>
	<select id="detail" parameterType="int" resultMap="cmpyDetailResultMap">
		SELECT
			c.CMPY_SEQ,
			c.CMPY_CODE,
			c.CMPY_NAME,
			c.ENG_NAME,
			c.TYPE_CODE,
			c.APPL_TYPE,
			FN_GET_PHONE_FORMAT (c.CMPY_PHONE) CMPY_PHONE,
			FN_GET_PHONE_FORMAT (c.CMPY_FAX) CMPY_FAX,
			c.CMPNY_IDNTF,
			c.ETC_ID,
			c.BSNS_RGNMB,
			c.CRPRT_RGNMB,
			c.CNTRY_CODE,
			c.HOMEPAGE,
			c.RPRSN,
			c.RPRSN_SIGN,
			c.ENG_RPRSN,
			c.RSDNT_RGNMB,
			c.ADDR,
			c.ENG_ADDR,
			c.MEMO,
			c.ATCH_FILE_ID,
			c.INS_MEM_ID,
			c.UDT_MEM_ID,
			IFNULL(FN_MEM_NAME(c.INS_MEM_ID), '') AS ins_name
			
		FROM
			CMPY_TB c
			
		WHERE c.CMPY_SEQ = #{cmpySeq}
	</select>
	<select id="selectPrntCmpyList" resultType="cmpyRelationDTO">
	    SELECT
	        p.CMPY_SEQ parentCmpySeq,
	        CONCAT('[', IFNULL(FN_CODE_NAME(p.TYPE_CODE, 'PK'),''), '] ', p.CMPY_NAME) prntCmpyName
	        
	    FROM CMPY_RELATION_TB r
	   		
	   		INNER JOIN CMPY_TB p ON r.PARENT_CMPY_SEQ = p.CMPY_SEQ AND p.STATE != 'D'
	   		
	    WHERE r.CHILD_CMPY_SEQ = #{cmpySeq}
	    AND r.STATE != 'D'
	</select>
	<select id="selectChildCmpyList" resultType="cmpyRelationDTO">
		SELECT
		    @rownum := @rownum + 1 AS no,
		    child.*
		FROM (
		    SELECT
		        c.CMPY_SEQ AS childCmpySeq,
		        c.CMPY_NAME AS childCmpyName
		    FROM CMPY_RELATION_TB r
		    INNER JOIN CMPY_TB c 
		        ON r.CHILD_CMPY_SEQ = c.CMPY_SEQ AND c.STATE != 'D'
		    WHERE r.PARENT_CMPY_SEQ = #{cmpySeq}
		      AND r.STATE != 'D'
		    ORDER BY c.CMPY_SEQ ASC
		) child,
		(SELECT @rownum := 0) r
	</select>
	
	
	<select id="selectSameName" resultType="egovMap">
		set @rownum:=0;
		
		SELECT
			@rownum:=@rownum+1 as no, 
			lst.*
		FROM
			(
			SELECT
				lpad (CMPY_TB.cmpy_seq, 4, '0') cmpySeq,
			    cmpy_name,
			    <if test="cmpyCode == '0000'">ifnull (FN_CODE_NAME (type_code, 'PK'), '') type</if>
			    <if test="cmpyCode == '1000'">ifnull (FN_CODE_NAME (type_code, 'ST'), '') type</if>
			FROM CMPY_TB 
			WHERE 1=1
			AND STATE != 'D'
			AND CMPY_CODE = #{cmpyCode}
			#AND CMPY_NAME regexp concat('[','',']{2}')
			AND replace(CMPY_NAME, ' ', '') like CONCAT('%',replace(#{cmpyName}, ' ', ''),'%')
			ORDER BY CMPY_TB.CMPY_SEQ
			) lst
		order by no desc
			
	</select>
	
	<select id="selectAllSameName" resultType="int" parameterType="cmpyDTO">
		SELECT IFNULL (MAX(CMPY_SEQ), 0) FROM CMPY_TB
		WHERE CMPY_CODE = #{cmpyCode}
		AND CMPY_NAME COLLATE utf8_bin = TRIM(#{cmpyName});
	</select>
	
	<select id="selectCmdList" parameterType="comParam" resultType="cmdSub">
		SET @sindt:= <if test="searchVO != null">
					        <foreach collection="searchVO" item="item" separator="">
					        	<choose>
					        		<!-- 18 시험배정일 -->
					        		<when test="item.searchCode == 18">#{item.searchWord}</when>
								</choose>
							</foreach>
						</if>;
		SET @scseq:= <if test="searchVO != null">
					        <foreach collection="searchVO" item="item" separator="">
					        	<choose>
					        		<!-- 4 컨설팅 -->
					        		<when test="item.searchCode == 4">#{item.searchWord}</when>
								</choose>
							</foreach>
						</if>;
						
		SELECT
            
           
			CONCAT(CAST(T.baseDt AS UNSIGNED), '월') mon,
            CMPY_TB.CMPY_SEQ,
            SUM(IF (CMPY_TB.CMPY_SEQ = @scseq, 1, 0)) inCnt,
            TRUNCATE(SUM(IF (CMPY_TB.CMPY_SEQ = @scseq, NET_SALES, 0)) / 10000, 0) inAmt,
			TRUNCATE(sls.BILL / 10000, 0) pay,
			TRUNCATE(sls.ARREARS / 10000, 0) arr
                  
			FROM (
				/* 날짜 테이블 */
				SELECT 
					LPAD(seq, 2, '0') baseDt
				FROM (SELECT @num := @num + 1 AS seq
					  FROM information_schema.tables a
						 , information_schema.tables b
						 , (SELECT @num := 0) c
					 ) T
				WHERE 1=1
				AND seq between 1 and 12
			) T
      
				# 해당월에 접수된 시험
				LEFT JOIN TEST_TB
				ON T.baseDt = DATE_FORMAT(TEST_TB.INS_DT, '%m')
				AND DATE_FORMAT(TEST_TB.INS_DT, '%Y') = @sindt
				
				
				LEFT JOIN TEST_ITEM_TB
				ON TEST_TB.TEST_ITEM_SEQ =  TEST_ITEM_TB.TEST_ITEM_SEQ
				AND TEST_ITEM_TB.STATE != 'D'

				LEFT JOIN JOB_TB
				ON TEST_ITEM_TB.QUO_YM = JOB_TB.QUO_YM
				AND TEST_ITEM_TB.QUO_SEQ = JOB_TB.QUO_SEQ

              
				# 해당월에 매출확정
				LEFT JOIN (
				
					SELECT
						cnfrmDt, SUM(IF (PAY_DT IS NOT NULL, BILL, 0)) BILL, SUM(ARREARS) ARREARS, PAY_DT
                        
					FROM (
						SELECT DATE_FORMAT(SLS_TB.CNFRM_DT, '%m') cnfrmDt, SLS_TB.CHQ_YM, SLS_TB.CHQ_SEQ, BILL, ARREARS, PAY_DT
						FROM SLS_TB
						
						INNER JOIN BILL_TB
						ON BILL_TB.SLS_YM = SLS_TB.SLS_YM
						AND BILL_TB.SLS_SEQ = SLS_TB.SLS_SEQ
						AND BILL_TB.STATE NOT IN ('4','6','8')
						
						
						INNER JOIN QUO_TB 
						ON SLS_TB.CHQ_YM = QUO_TB.CHQ_YM
						AND SLS_TB.CHQ_SEQ = QUO_TB.CHQ_SEQ
						
						INNER JOIN JOB_TB
						ON QUO_TB.QUO_YM = JOB_TB.QUO_YM
						AND QUO_TB.QUO_SEQ = JOB_TB.QUO_SEQ
						
						WHERE PRTN_SEQ = @scseq
						AND SLS_TB.STATE != 'D'
						AND DATE_FORMAT(SLS_TB.CNFRM_DT, '%Y') = @sindt
	                          
						GROUP BY SLS_TB.CHQ_YM, SLS_TB.CHQ_SEQ, DATE_FORMAT(SLS_TB.CNFRM_DT, '%Y%m')
						
						UNION ALL
						
						SELECT 
					   
						DATE_FORMAT(SLS_TB.CNFRM_DT, '%m') cnfrmDt, SLS_TB.QUO_YM, SLS_TB.QUO_YM, sum(BILL) BILL, SUM(ARREARS) ARREARS, PAY_DT
						FROM SLS_TB
						
						INNER JOIN BILL_TB
						ON BILL_TB.SLS_YM = SLS_TB.SLS_YM
						AND BILL_TB.SLS_SEQ = SLS_TB.SLS_SEQ
						AND BILL_TB.STATE NOT IN ('4','6','8')
												
						
						INNER JOIN QUO_TB 
						ON SLS_TB.QUO_YM = QUO_TB.QUO_YM
						AND SLS_TB.QUO_SEQ = QUO_TB.QUO_SEQ
						
						INNER JOIN JOB_TB
						ON QUO_TB.QUO_YM = JOB_TB.QUO_YM
						AND QUO_TB.QUO_SEQ = JOB_TB.QUO_SEQ
						
						
						WHERE JOB_TB.PRTN_SEQ = @scseq
						AND SLS_TB.STATE != 'D'
						AND DATE_FORMAT(SLS_TB.CNFRM_DT, '%Y') = @sindt
	                          
						GROUP BY DATE_FORMAT(SLS_TB.CNFRM_DT, '%Y%m')
					) tmp
					GROUP BY cnfrmDt
					
				) sls
				ON T.baseDt = sls.cnfrmDt
				                        						                        
				LEFT JOIN CMPY_TB 
				ON PRTN_SEQ = CMPY_TB.CMPY_SEQ AND CMPY_CODE = '0000'  AND CMPY_TB.STATE != 'D' and CMPY_TB.CMPY_SEQ = @scseq
              
	
          GROUP BY T.baseDt
	</select>
	
	<select id="selectCmdTotal" parameterType="comParam" resultType="cmdSub">
		SET @scseq:= <if test="searchVO != null">
					        <foreach collection="searchVO" item="item" separator="">
					        	<choose>
					        		<!-- 4 컨설팅 -->
					        		<when test="item.searchCode == 4">#{item.searchWord}</when>
								</choose>
							</foreach>
						</if>;
						
		SELECT
		
			'총 계' mon,
			CMPY_TB.CMPY_SEQ,
			SUM(IF (CMPY_TB.CMPY_SEQ = @scseq, 1, 0)) inCnt,
			TRUNCATE(SUM(IF (CMPY_TB.CMPY_SEQ = @scseq, NET_SALES, 0)) / 10000, 0) inAmt,
			pay,
			arr
		    
		FROM CMPY_TB
		
			INNER JOIN JOB_TB
		    ON JOB_TB.PRTN_SEQ = CMPY_TB.CMPY_SEQ
		    
		    INNER JOIN TEST_ITEM_TB
			ON TEST_ITEM_TB.QUO_YM = JOB_TB.QUO_YM
			AND TEST_ITEM_TB.QUO_SEQ = JOB_TB.QUO_SEQ
		    AND TEST_ITEM_TB.STATE != 'D'
		    
			INNER JOIN TEST_TB
			ON TEST_TB.TEST_ITEM_SEQ =  TEST_ITEM_TB.TEST_ITEM_SEQ
		
			# 매출확정
			LEFT JOIN (
		
					SELECT 
							PRTN_SEQ,
							TRUNCATE(SUM(IF (PAY_DT IS NOT NULL, BILL, 0)) / 10000, 0) pay,
							TRUNCATE(SUM(ARREARS) / 10000, 0) arr
					FROM (
						SELECT JOB_TB.PRTN_SEQ, SLS_TB.CHQ_YM, SLS_TB.CHQ_SEQ, SUM(QUO_TB.TOTAL_VAT) BILL, ARREARS, PAY_DT
						FROM SLS_TB
		
						INNER JOIN BILL_TB
						ON BILL_TB.SLS_YM = SLS_TB.SLS_YM
						AND BILL_TB.SLS_SEQ = SLS_TB.SLS_SEQ
						AND BILL_TB.STATE NOT IN ('4','6','8')
		
		
						INNER JOIN QUO_TB
						ON SLS_TB.CHQ_YM = QUO_TB.CHQ_YM
						AND SLS_TB.CHQ_SEQ = QUO_TB.CHQ_SEQ
		
						INNER JOIN JOB_TB
						ON QUO_TB.QUO_YM = JOB_TB.QUO_YM
						AND QUO_TB.QUO_SEQ = JOB_TB.QUO_SEQ
		
						WHERE PRTN_SEQ = @scseq
						AND SLS_TB.STATE != 'D'
		
		
						GROUP BY SLS_TB.CHQ_YM, SLS_TB.CHQ_SEQ
		
						UNION ALL
		
						SELECT
		
						JOB_TB.PRTN_SEQ, SLS_TB.QUO_YM, SLS_TB.QUO_YM, SUM(BILL) BILL, SUM(ARREARS) ARREARS, PAY_DT
						FROM SLS_TB
		
						INNER JOIN BILL_TB
						ON BILL_TB.SLS_YM = SLS_TB.SLS_YM
						AND BILL_TB.SLS_SEQ = SLS_TB.SLS_SEQ
						AND BILL_TB.STATE NOT IN ('4','6','8')
		
		
						INNER JOIN QUO_TB
						ON SLS_TB.QUO_YM = QUO_TB.QUO_YM
						AND SLS_TB.QUO_SEQ = QUO_TB.QUO_SEQ
		
						INNER JOIN JOB_TB
						ON QUO_TB.QUO_YM = JOB_TB.QUO_YM
						AND QUO_TB.QUO_SEQ = JOB_TB.QUO_SEQ
		
		
						WHERE JOB_TB.PRTN_SEQ = @scseq
						AND SLS_TB.STATE != 'D'
						
						) t
			) sls
		    ON sls.PRTN_SEQ = CMPY_TB.CMPY_SEQ
		
		 
		    WHERE CMPY_TB.CMPY_SEQ = @scseq
	</select>
	
	<select id="selectParentListByChild" resultType="int">
	  SELECT PARENT_CMPY_SEQ
	  FROM CMPY_RELATION_TB
	  WHERE CHILD_CMPY_SEQ = #{childCmpySeq}
	  AND STATE != 'D'
	</select>
	
	<insert id="insertRelation">
	  INSERT INTO CMPY_RELATION_TB (
	    CHILD_CMPY_SEQ,
	    PARENT_CMPY_SEQ,
	    INS_MEM_ID,
	    INS_DT,
	    UDT_MEM_ID,
	    UDT_DT,
	    STATE
	  ) VALUES (
	    #{childCmpySeq},
	    #{parentCmpySeq},
	    #{insMemId},
	    NOW(),
	    #{udtMemId},
	    NOW(),
	    'I'
	  )
	</insert>
	
	<delete id="deleteByChildAndParentList">
	  DELETE FROM CMPY_RELATION_TB
	  WHERE CHILD_CMPY_SEQ = #{childCmpySeq}
	    AND PARENT_CMPY_SEQ IN
	    <foreach collection="list" item="parentSeq" open="(" separator="," close=")">
	      #{parentSeq}
	    </foreach>
	</delete>
	
	
</mapper>