<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.cnf.service.MemMapper">

	<select id="selectListCnt" parameterType="comParam" resultType="int">
		SELECT
			count(1)
		FROM
			MEMBER_TB
		WHERE
			1 = 1
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			        	<choose>
							<!-- 15	입사일 -->
			        		<when test="item.searchCode == 15">AND DATE_FORMAT(MEMBER_TB.IN_DT, '%Y%m%d') BETWEEN DATE_FORMAT(#{item.startDate}, '%Y%m%d') AND DATE_FORMAT(#{item.endDate}, '%Y%m%d')</when>
			        		<!-- 51	부서명 -->
			        		<when test="item.searchCode == 51">AND DEPT_SEQ = #{item.searchWord}</when>
							<!-- 52	재직상태 -->
							<when test="item.searchCode == 52">AND WORK_STATE = #{item.searchWord}</when>
							<!-- 45	권한 -->
							<when test="item.searchCode == 45">AND AUTH_CODE = #{item.searchWord}</when>
							<!-- 8	기술책임자 -->
							<when test="item.searchCode ==  8">AND REV_YN = #{item.searchWord}</when>
							<!-- 53	아이디 -->
							<when test="item.searchCode == 53">AND ID LIKE CONCAT('%',#{item.searchWord},'%')</when>
			        		<!-- 42	이름 -->
							<when test="item.searchCode == 42">AND MEM_NAME LIKE CONCAT('%',#{item.searchWord},'%')</when>
							<!-- 43	직위 -->
			        		<when test="item.searchCode == 43">AND FN_POS_NAME (ID) LIKE CONCAT('%',#{item.searchWord},'%')</when>
							<!-- 44	연락처 -->
							<when test="item.searchCode == 44">AND REPLACE(PHONE,'-','') LIKE CONCAT('%',replace(#{item.searchWord},'-',''),'%')</when>
						</choose>
					</foreach>
				</if>
	</select>

	<select id="selectList" parameterType="comParam" resultType="member">
		set @rownum:=0;
		
		SELECT
			lst.*
		FROM
			(
				SELECT
					@rownum:=@rownum+1 as no,
					LPAD (member_seq, 4, 0) memberSeq,
					IFNULL (DATE_FORMAT(MEMBER_TB.IN_DT, '%Y-%m-%d'), '') inDt,
					FN_DEPT_NAME (id) deptName,
					id,
					password,
					mem_name,
					ifnull(eng_name, '') eng_name,
					FN_POS_NAME (id) posName,
					REV_YN,
					MNG_YN,
					EMAIL,
					IFNULL (FN_GET_PHONE_FORMAT (PHONE), '') PHONE,
					IFNULL (AUTH_CODE, '') AUTH_CODE,
					CONCAT (
					    FN_CODE_NAME (WORK_STATE, 'PW'),
					    IFNULL (
					        CASE
					            WHEN WORK_STATE = 2 THEN CONCAT (
					                ' (',
					                IFNULL (
					                    DATE_FORMAT(MEMBER_TB.LEAVE_S_DT, '%Y-%m-%d'),
					                    ''
					                ),
					                '~',
					                IFNULL (
					                    DATE_FORMAT(MEMBER_TB.LEAVE_E_DT, '%Y-%m-%d'),
					                    ''
					                ),
					                ')'
					            )
					            WHEN WORK_STATE = 3 THEN CONCAT (
					                '(',
					                IFNULL (DATE_FORMAT(MEMBER_TB.QUIT_DT, '%Y-%m-%d'), ''),
					                ')'
					            )
					        END,
					        ''
					    )
					) workSate,
					DATE_FORMAT(MEMBER_TB.LEAVE_S_DT, '%Y-%m-%d') leaveSDt,
					DATE_FORMAT(MEMBER_TB.LEAVE_S_DT, '%Y-%m-%d') leaveEDt,
					DATE_FORMAT(MEMBER_TB.LEAVE_S_DT, '%Y-%m-%d') quitDt,
					LOCK_YN
					from
					    MEMBER_TB
				WHERE
					1 = 1
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			        	<choose>
							<!-- 15	입사일 -->
			        		<when test="item.searchCode == 15">AND DATE_FORMAT(MEMBER_TB.IN_DT, '%Y%m%d') BETWEEN DATE_FORMAT(#{item.startDate}, '%Y%m%d') AND DATE_FORMAT(#{item.endDate}, '%Y%m%d')</when>
			        		<!-- 51	부서명 -->
			        		<when test="item.searchCode == 51">AND DEPT_SEQ = #{item.searchWord}</when>
							<!-- 52	재직상태 -->
							<when test="item.searchCode == 52">AND WORK_STATE = #{item.searchWord}</when>
							<!-- 45	권한 -->
							<when test="item.searchCode == 45">AND AUTH_CODE = #{item.searchWord}</when>
							<!-- 8	기술책임자 -->
							<when test="item.searchCode ==  8">AND REV_YN = #{item.searchWord}</when>
							<!-- 53	아이디 -->
							<when test="item.searchCode == 53">AND ID LIKE CONCAT('%',#{item.searchWord},'%')</when>
			        		<!-- 42	이름 -->
							<when test="item.searchCode == 42">AND MEM_NAME like CONCAT('%',#{item.searchWord},'%')</when>
							<!-- 43	직위 -->
			        		<when test="item.searchCode == 43">AND FN_POS_NAME (ID) LIKE CONCAT('%',#{item.searchWord},'%')</when>
							<!-- 44	연락처 -->
							<when test="item.searchCode == 44">AND REPLACE(PHONE,'-','') LIKE CONCAT('%',replace(#{item.searchWord},'-',''),'%')</when>
						</choose>
					</foreach>
				</if>
				ORDER BY
					MEMBER_TB.IN_DT ASC
			) lst
		ORDER BY
			no DESC
		LIMIT #{pageUnit} OFFSET #{firstIndex};
	</select>
	
	<insert id="insert" parameterType="member">
	    INSERT INTO MEMBER_TB
	    (
			MEMBER_SEQ,
		    <if test="inDt != null and inDt != ''">IN_DT,</if>
		    DEPT_SEQ,
		    ID,
		    PASSWORD,
		    MEM_NAME,
		    ENG_NAME,
		    POS_SEQ,
		    REV_YN,
		    MNG_YN,
		    EMAIL,
		    PHONE,
		    AUTH_CODE,
		    WORK_STATE,
		    LOCK_YN,
		    <if test="leaveSDt != null and leaveSDt != ''">LEAVE_S_DT,</if>
		    <if test="leaveEDt != null and leaveEDt != ''">LEAVE_E_DT,</if>
		    <if test="quitDt != null and quitDt != ''">QUIT_DT,</if>
		    INS_MEM_ID,
		    UDT_MEM_ID
	    )
	    VALUES
		(
	        IF(#{memberSeq}=0,(SELECT IFNULL(MAX(seq.MEMBER_SEQ)+1,1) cmpySeq FROM MEMBER_TB seq), #{memberSeq}),
			<if test="inDt != null and inDt != ''">#{inDt},</if>
			#{deptSeq},
			#{id},
			#{password},
			#{memName},
			#{engName},
			#{posSeq},
			#{revYn},
			#{mngYn},
			#{email},
			#{phone},
			#{authCode},
			#{workState},
			#{lockYn},
			<if test="leaveSDt != null and leaveSDt != ''">#{leaveSDt},</if>
			<if test="leaveEDt != null and leaveEDt != ''">#{leaveEDt},</if>
			<if test="quitDt != null and quitDt != ''">#{quitDt},</if>
			#{insMemId},
			#{udtMemId}
		)
		ON DUPLICATE KEY UPDATE
		    <if test="inDt != null and inDt != ''">IN_DT = #{inDt},</if>
		    DEPT_SEQ = #{deptSeq},
		    ID = #{id},
		    MEM_NAME = #{memName},
		    ENG_NAME = #{engName},
		    POS_SEQ = #{posSeq},
		    REV_YN = #{revYn},
		    MNG_YN = #{mngYn},
		    EMAIL = #{email},
		    PHONE = #{phone},
		    AUTH_CODE = #{authCode},
		    WORK_STATE = #{workState},
		    LOCK_YN = #{lockYn},
		    <if test="leaveSDt != null and leaveSDt != ''">LEAVE_S_DT = #{leaveSDt},</if>
		    <if test="leaveEDt != null and leaveEDt != ''">LEAVE_E_DT = #{leaveEDt},</if>
		    <if test="quitDt != null and quitDt != ''">QUIT_DT = #{quitDt},</if>
		    UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW(),
	        STATE = 'U'
	</insert>
	
	<insert id="insertSign" parameterType="member">
		INSERT INTO MEMBER_SIGN_TB
		(
			MEMBER_SEQ,
			ATCH_FILE_ID,
			INS_MEM_ID,
			UDT_MEM_ID
		)
		VALUES
		(
			#{memberSeq},
			#{atchFileId},
			#{insMemId},
			#{udtMemId}
		)	
	</insert>
		
	<select id="detail" parameterType="int" resultType="member">
		SELECT
			LPAD (MEMBER_TB.MEMBER_SEQ, 4, 0) memberSeq,
		    DATE_FORMAT(IN_DT, '%Y-%m-%d') inDt,
		    DEPT_SEQ,
		    FN_DEPT_NAME (ID) DEPT_NAME,
		    ID,
		    MEM_NAME,
		    ENG_NAME,
		    POS_SEQ,
		    FN_POS_NAME (ID) POS_NAME,
		    REV_YN,
		    MNG_YN,
		    EMAIL,
		    FN_GET_PHONE_FORMAT(PHONE) PHONE,
		    AUTH_CODE,
		    WORK_STATE,
		    LOCK_YN,
		    DATE_FORMAT(LEAVE_S_DT, '%Y-%m-%d') leaveSDt,
		    DATE_FORMAT(LEAVE_E_DT, '%Y-%m-%d') leaveEDt,
		    DATE_FORMAT(QUIT_DT, '%Y-%m-%d') quitDt,
		    FN_GET_IMAGE (MEMBER_SIGN_TB.ATCH_FILE_ID,0) sgnUrl
		FROM
			MEMBER_TB
			
			LEFT JOIN MEMBER_SIGN_TB
            ON MEMBER_SIGN_TB.MEMBER_SIGN_SEQ = (SELECT MEMBER_SIGN_SEQ FROM MEMBER_SIGN_TB sub WHERE sub.MEMBER_SEQ = MEMBER_TB.MEMBER_SEQ ORDER BY INS_DT DESC LIMIT 1)
            
		WHERE MEMBER_TB.MEMBER_SEQ = #{memberSeq}
	</select>
	
	
	<!-- 비밀번호 찾기 -->
	<select id="searchPassword" resultType="String">
		<![CDATA[
		SELECT password AS password
		  FROM MEMBER_TB
		 WHERE ID = #{id}
		   AND PASSWORD = #{password}
		]]>
	</select>

	<!-- 변경된 비밀번호를 저장 -->
	<update id="updatePassword">
		<![CDATA[
		UPDATE MEMBER_TB
		   SET 
		   	PASSWORD = #{password},
		   	UDT_MEM_ID = #{id},
	        UDT_DT = NOW()
		 WHERE ID = #{id}
		]]>
	</update>

	<select id="selectDeptList" parameterType="comParam" resultType="egovMap">
		set @rownum:=0;
		
		SELECT
			@rownum:=@rownum+1 as no, 
			lst.*
		FROM
			(
				SELECT
					DEPT_SEQ,
					NAME,
					IFNULL(MEMO, '') MEMO,
					TEST_YN,
                    ODER
				FROM
					DEPT_TB
				WHERE
					1 = 1
				AND STATE != 'D'
				order by ODER ASC
			) lst
		ORDER BY
			ODER asc
	</select>
	
	<insert id="insertDept" parameterType="dept">
	    <selectKey resultType="int" keyProperty="deptSeq" order="AFTER">
	        SELECT MAX(DEPT_SEQ) deptSeq FROM DEPT_TB;
	    </selectKey>
	    INSERT INTO DEPT_TB
	    (
			DEPT_SEQ,
		    NAME,
		    MEMO,
		    TEST_YN,
		    ODER,
		    INS_MEM_ID,
		    UDT_MEM_ID
	    )
	    VALUES
		(
	        IF(#{deptSeq}=0,(SELECT IFNULL(MAX(seq.DEPT_SEQ)+1,1) deptSeq FROM DEPT_TB seq), #{deptSeq}),
			#{name},
			#{memo},
			#{testYn},
			#{oder},
			#{insMemId},
			#{udtMemId}
		)
		ON DUPLICATE KEY UPDATE
		    NAME = #{name},
		    MEMO = #{memo},
		    TEST_YN = #{testYn},
		    ODER = #{oder},
		    UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW(),
	        STATE = #{state}
	</insert>

	<select id="selectPosList" parameterType="comParam" resultType="egovMap">
		set @rownum:=0;
		
		SELECT
			@rownum:=@rownum+1 as no, 
			lst.*
		FROM
			(
				SELECT
					POS_SEQ,
					NAME,
					IFNULL(MEMO, '') MEMO,
                    ODER
				FROM
					POS_TB
				WHERE
					1 = 1
				AND STATE != 'D'
				order by ODER ASC
			) lst
		ORDER BY
			ODER asc
	</select>
	
	<insert id="insertPos" parameterType="pos">
	    <selectKey resultType="int" keyProperty="posSeq" order="AFTER">
	        SELECT MAX(POS_SEQ) posSeq FROM POS_TB;
	    </selectKey>
	    INSERT INTO POS_TB
	    (
			POS_SEQ,
		    NAME,
		    MEMO,
		    ODER,
		    INS_MEM_ID,
		    UDT_MEM_ID
	    )
	    VALUES
		(
	        IF(#{posSeq}=0,(SELECT IFNULL(MAX(seq.POS_SEQ)+1,1) posSeq FROM POS_TB seq), #{posSeq}),
			#{name},
			#{memo},
			#{oder},
			#{insMemId},
			#{udtMemId}
		)
		ON DUPLICATE KEY UPDATE
		    NAME = #{name},
		    MEMO = #{memo},
		    ODER = #{oder},
		    UDT_MEM_ID = #{udtMemId},
	        UDT_DT = NOW(),
	        STATE = #{state}
	</insert>
	
	<select id="checkId" parameterType="member" resultType="Boolean">
		SELECT COUNT(1) 
		FROM MEMBER_TB
		WHERE ID = #{id}
	</select>
	
</mapper>